/*earlylife.css*/
/*
-Reset: estilos de reseteo iguales para todas las páginas de la web
-Header: estilos del encabezado iguales para todas las páginas de la web.
-Main-header: Encabezado igual para todas las secciones de la página de Vincent's life
-Botones: botón anterior para regresar a la página de Vincent's life
-Container
-Animaciones
-Media Queries
*/

/* ---- RESET empieza aquí ---- */
/* Descripción: Estilos de reseteo para la normalización de estilos predeterminados del navegador. */
/* Reset general para todos los elementos */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
/* Estilos para elementos multimedia */
img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
}
/* Estilos para enlaces */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}
/* Estilos especiales para enlaces dentro de párrafos */
p a {
  display: inline;
}
/* Estilos para listas sin viñetas */
li {
  list-style-type: none;
}
/* Estilos para elementos de texto */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: 1em;
  text-decoration: none;
  color: inherit;
}
/* Estilos para formularios y elementos de formulario */
form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
/* Estilos para elementos SVG */
svg {
  display: block;
  fill: #ffd147;
}
/* Estilos para el cuerpo del documento */
html {
  overflow: hidden;
}
body {
  min-height: 100vh;
  font-size: 100%;
  max-width: 98%;
  margin: auto;
  font-family: "Playfair Display", serif;
}
/* ---- RESET acaba aquí ---- */

/* ---- HEADER empieza aquí ---- */
/* Descripción: Estilos para el encabezado del sitio web. */

/* Estilos para el contenedor del encabezado */
.Header {
  max-width: 95%;
  margin: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  border-bottom: 0.1563rem solid #ffd147;
}
/* HEADER LEFT */
/* Estilos para el lado izquierdo del encabezado */
.Header-left {
  width: calc(3.5rem + 0.0625rem);
  height: 3.5rem;

  margin: 0.5rem;

  position: relative;
  border-radius: 50%;
  border: 2.5px solid #ffd147;
}
/* Estilos para la imagen del encabezado */
.Header-img {
  width: 3rem;
  height: 3rem;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* HEADER CENTER */
/* Estilos para la firma en el centro del encabezado */
.Header-signature {
  max-width: 8.5rem;
}
/* HEADER NAV */
/* Estilos para el menú de navegación */
.Header-ul {
  opacity: 0;
  background-color: #ffd147;
  width: 100%;
  height: 100%;

  position: fixed;
  top: 0%;
  right: -100%;
  z-index: 1;

  text-align: center;
  color: white;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  transition: all 0.6s ease-in-out;
  animation: menuSliderOff 0.6 ease;
}
/* Estilos para activar el menú de navegación */
.Header-ul.isActive {
  opacity: 1;
  right: 0%;

  animation: menuSliderOn 0.6s ease;
}
/* Estilos para los elementos de lista en el menú de navegación */
.Header-li {
  transition: all 0.5s ease;
}
/* Estilos para los enlaces en el menú de navegación */
.Nav-link {
  font-size: 5rem;
  font-weight: 900;
  text-transform: uppercase;
  text-shadow: 0.5px 0.5px 1px rgb(136, 136, 136);
}
/* Estilos de animación al pasar el mouse sobre los enlaces */
.Header-li:hover .Nav-link {
  animation: imageAnimation .3s ease-in-out both 1;
}
/* Estilos para las imágenes de fondo en los enlaces */
.Nav-img {
  opacity: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;

  position: fixed;
  top: 0%;
  left: 0%;
  z-index: -1;

  pointer-events: none;
  transition: all .5s ease;
}
/* Estilos de animación al pasar el mouse sobre las imágenes de fondo */
.Header-li:hover .Nav-img {
  opacity: .75;
}
/* Estilos para los enlaces no activos que no tienen el mouse sobre ellos */
.Nav-link.notActive:not(:hover) {
  opacity: 0.5;
}
/* Estilos para el icono "hamburguesa" */
.Hamburger {
  cursor: pointer;
  position: relative;
  z-index: 2;
}
/* Estilos para el círculo  que rodea el icono "hamburguesa" */
.Circle {
  opacity: 0;
  width: 3rem;
  height: 3rem;

  border: 3px solid white;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: drop-shadow(1px 1px 1px #c59403);

  transition: all 0.5s ease;
  pointer-events: none;
}
/* Estilos para activar el círculo  que rodea el icono "hamburguesa" */
.Circle.isActive {
  opacity: 1;
  pointer-events: auto;
}
/* Estilos para las barras del icono "hamburguesa" */
.Bar {
  display: block;
  width: 1.5625rem;
  height: 0.1875rem;
  margin: 0.3125rem auto;
  background-color: #ffd147;
  transition: all 0.5s ease-in-out;
  filter: drop-shadow(0.25px 0.25px 0.5px #c59403);
}
/* Estilos para las barras al activar el icono "hamburguesa" */
.Hamburger.isActive .Bar:nth-child(2) {
  transform: translateY(8px) rotate(45deg);
  background-color: white;
}
.Hamburger.isActive .Bar:nth-child(3) {
  opacity: 0;
  background-color: white;
}
.Hamburger.isActive .Bar:nth-child(4) {
  transform: translateY(-8px) rotate(-45deg);
  background-color: white;
}
/* ---- HEADER acaba aquí ---- */


/* ---- MAIN empieza aquí ---- */
/* Descripción: Estilos para el contenido principal del sitio web. */

/* ---- MAIN - Contenedor principal ---- */

/* Estilos del contenedor principal */
.Main {
  margin: 0.7rem auto;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

/* ---- MAIN-HEADER - Parte del elemento principal debajo del encabezado - Igual para todas las subpáginas en la vida de Vincent ---- */

/* Estilos del encabezado principal */
.Main-header {
  width: 85%;

  min-height: 25vh;
  max-height: 30vh;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}

/* ---- BOTÓN PREVIO ---- */

/* Estilos del botón "previo" */
.Prev-btn {
  width: 4rem;
  height: 4rem;
  background-color: #ffd147;
  border-radius: 50%;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  transition: all 0.7s ease;
  cursor: pointer;

  box-shadow: 1px 1px 1px #3b3b3b;
}
/* Estilos del icono SVG del botón "previo" */
.Prev-svg {
  fill: #594306;
  width: 3rem;
  height: 3rem;
  border: 0.15rem solid #594306;
  border-radius: 50%;
  padding: 0.5rem;

  transition: all 0.7s ease;
  filter: drop-shadow(1px 1px 1px #3b3b3b);
}
/* Efecto de escala al hacer hover en el botón "previo" */
.Prev-btn:hover {
  transform: scale(1.2);
}

/* ---- IMAGEN DEL ENCABEZADO ---- */

/* Estilos del contenedor de la imagen del encabezado */
.Header-image {
  min-width: 50vw;
  max-height: 30vh;
  border-radius: 1.5rem;

  position: relative;
  overflow: hidden;
  box-shadow: 1px 1px 1px #3b3b3b;
}
/* Estilos de la imagen del encabezado */
.Image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
/* Marco de la imagen del encabezado */
.Frame-image {
  border: 0.25rem #ffd147 solid;
  width: 100%;
  min-height: 99%;

  position: absolute;
  left: 50%;
  bottom: 50%;

  border-radius: 1.5rem;
  transform: translate(-50%, 50%) scale(0.95);
}
/* Contenedor para el título y detalles de la imagen del encabezado */
.Title-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: start;
}
/* Título, fecha y lugar de la imagen del encabezado */
.Title-h2,
.Date-span,
.Place-span {
  color: #594306;
  text-transform: capitalize;
}
/* Título de la imagen del encabezado */
.Title-h2 {
  font-size: 5rem;
  font-weight: 900;
  text-shadow: 0.5px 0.5px 1px #5a4304;
}
/* Fecha y lugar de la imagen del encabezado */
.Date-span,
.Place-span {
  font-size: 1.8rem;
  font-weight: 600;
}

/* ---- FONDO AMARILLO ---- */

/* Contenedor del fondo amarillo */
.Background-container {
  width: 98%;
  height: 100vh;
  background-color: #ffd147;

  position: fixed;
  top: 35%;
  right: 0%;
  z-index: -1;

  border-radius: 1.5rem 0 0 0;

  box-shadow: inset 5px 5px 25px 25px #e6b82f;
}

/* ---- CONTENIDO PRINCIPAL ---- */

/* Contenedor del texto principal */
.Text-container {
  width: 90%;
  position: relative;
}

/* ---- TEXTO INTRODUCTORIO SUPERIOR ---- */

/* Contenedor del texto introductorio superior */
.Intro-container {
  width: 60%;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  margin: 2rem 0;
}
/* Título del texto introductorio superior */
.Intro-h3 {
  font-size: 4rem;
  color: #594306;
  text-shadow: 0.5px 0.5px 1px #5a4304;
}
/* Párrafo del texto introductorio superior */
.Intro-p {
  color: #594306;
  font-size: 1.3rem;
}

/* ---- SECCIONES IZQUIERDA Y DERECHA ---- */

/* Contenedor de las columnas de texto */
.Text-columns {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
/* Secciones izquierda y derecha */
.Left-section,
.Right-section {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: start;
  gap: 1rem;

  margin-bottom: 1rem;
}
/* Contenedor del texto de cada sección */
.Section-text {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: start;
  gap: 1rem;
}
/* Contenedor de la imagen */
.Image-container {
  min-width: 12rem;
}
/* Imágenes izquierda y derecha */
.Left-image,
.Right-image {
  width: 100%;
  height: 100%;

  object-fit: cover;
  border-radius: 1.5rem;
  box-shadow: 1px 1px 1px #5a4304;
}
/* Título de cada sección */
.Section-h4 {
  font-size: 2.5rem;
  color: #594306;
  text-shadow: 0.5px 0.5px 1px #5a4304;
}
/* Párrafos de cada sección */
.Left-p,
.Right-p {
  font-size: 1.1rem;
  color: #594306;
}

/* ---- INFORMACIÓN SOBRE LAS PINTURAS (título, año, ubicación) ---- */

/* Contenedores izquierdo y derecho */
.Left-container,
.Right-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: start;
  color: #594306;
}
/* Tamaño de títulos, años y ubicaciones */
.Left-container span,
.Right-container span {
  font-size: 1rem;
}
/* Título de la pintura (en cursiva) */
.Left-title,
.Right-title {
  font-style: italic;
}

/* ---- MAIN acaba aquí ---- */

/* ---- Animaciones para el Encabezado (Header) ---- */
/* Animación para que el menú se desasparezca */
@keyframes menuSliderOff {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/* Animación para que el menú aparezca */
@keyframes menuSliderOn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Animación de escala para las imágenes */
@keyframes imageAnimation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}

/* ---- Media Queries ---- */

/* Media Query para el encabezado compartido por todas las páginas /
/ Menú y encabezado */
@media screen and (max-width: 770px) {
  /* Ocultar la firma en el encabezado */
  .Header-signature {
    display: none;
  }
  /* Estilos de tamaño de fuente para los enlaces del menú de navegación */
  .Nav-link {
    font-size: 4rem;
  }
}
/* Media Query para pantallas con un ancho máximo de 600px */
@media screen and (max-width: 600px) {
  /* Estilos de tamaño de fuente para los enlaces del menú de navegación */
  .Nav-link {
    font-size: 4rem;
  }
  /* Ocultar la imagen del menú en pantallas pequeñas */
  .Nav-img {
    display: none;
  }
  /* Deshabilitar la animación del enlace del menú al pasar el mouse en pantallas pequeñas */
  .Header-li {
    transition: none;
  }
  /* Deshabilitar la animación del enlace del menú al pasar el mouse en pantallas pequeñas */
  .Header-li:hover .Nav-link {
    animation: none;
  }
}
/* Media Query para pantallas con un ancho máximo de 525px */
@media screen and (max-width: 525px) {
  /* Tamaño de letra del enlace del menú en pantallas más pequeñas */
  .Nav-link {
    font-size: 3rem;
  }
}
/* Media Query para pantallas con un ancho máximo de 400px */
@media screen and (max-width: 400px) {
  /* Tamaño de letra del enlace del menú en pantallas muy pequeñas */
  .Nav-link {
    font-size: 2.5rem;
  }
}

/* ---- BACKGROUND CONTAINER - Vincent's Life sections ---- */

/* Descripción: Estilos para el contenedor de fondo en las secciones de la vida de Vincent en dispositivos con un ancho de pantalla máximo de 900px. */
@media screen and (max-width: 900px) {
  .Background-container {
    top: 12%;
    left: 0%;
    margin: auto;
    width: 95%;
    border-radius: 1.5rem;
  }
}
/* ---- Botón anterior ---- */

/* Descripción: Estilos para el botón de navegación "anterior" en dispositivos con un ancho de pantalla máximo de 900px. */
@media screen and (max-width: 900px) {
  .Prev-btn {
    background-color: transparent;
    box-shadow: none;
  }
  .Prev-svg {
    box-shadow: 0.25px 0.25px 0.5px #5a4304;
  }
}

/* ---- Estilos solo para la sección de Early Life ---- */

/* Pantallas grandes - Media Query para pantallas con un ancho mínimo de 1550px */
@media screen and (min-width: 1550px) {
  html {
    overflow: auto;
  }
  .Intro-p {
    font-size: 1.8rem;
  }
  .Left-p,
  .Right-p {
    font-size: 1.5rem;
  }
  .Text-columns {
    margin-top: 3rem;
  }
  .Image-container {
    min-width: 18rem;
  }
}
/* Pantalla mediana - Media Query para pantallas con un ancho máximo de 1200px */
@media screen and (max-width: 1200px) {
  html {
    overflow: auto;
  }
  .Text-columns {
    flex-flow: row wrap;
  }
  .Intro-container {
    width: 80%;
    margin: 1rem auto;
    text-align: center;
  }
  .Image-container {
    min-width: 20rem;
  }
  .Header-image {
    max-height: 20vh;
  }
  .Title-h2 {
    margin-top: 0.5rem;
    font-size: 4rem;
  }
  .Date-span,
  .Place-span {
    font-size: 1.2rem;
  }
  .Intro-container {
    flex-flow: column;
    gap: 0.5rem;
  }
}
/* Sin imagen principal para pantallas pequeñas - Media Query para pantallas con un ancho máximo de 700px */
@media screen and (max-width: 700px) {
  .Header-image {
    display: none;
  }
  .Left-section,
  .Right-section {
    flex-flow: column;
  }
  .Image-container {
    max-height: 18rem;
    width: 100%;
    overflow: hidden;
    border-radius: 1.5rem;
    box-shadow: 1px 1px 1px #5a4304;
  }
  .Left-image {
    transform: translateY(-30%);
  }
  .Section-text {
    justify-content: center;
    align-items: center;
  }
  .Left-p,
  .Right-p {
    text-align: center;
  }
  .Left-container,
  .Right-container {
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 640px) {
  .Intro-p {
    font-size: 1rem;
  }
  .Right-p,
  .Left-p {
    font-size: 1rem;
  }
  .Left-container,
  .Right-container {
    order: -2;
  }
  .Left-container span,
  .Right-container span {
    font-size: 0.9rem;
  }
  .Title-h2 {
    font-size: 3.8rem;
  }
  .Main-header {
    gap: 1rem;
  }
}
