
/*RESET*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
}
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}
p a {
  display: inline;
}
li {
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: 1em;
  text-decoration: none;
  color: inherit;
}
form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
svg {
  display: block;
  fill: #ffd147;
}
body {
  min-height: 100vh;
  font-size: 100%;
  margin: auto;
  font-family: "Playfair Display", serif;
}

/* MAIN */
.Main {
  margin: .5rem;

  position: relative;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.Main-header {
  width: 85%;
  margin: .5rem;

  min-height: 25vh;
  max-height: 30vh;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}
.Prev-btn {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  transition: all 0.7s ease;
  cursor: pointer;
}
.Prev-svg {
  fill: #594306;
  width: 3rem;
  height: 3rem;
  border: 0.15rem solid #594306;
  border-radius: 50%;
  padding: 0.5rem;

  transition: all 0.7s ease;
  filter: drop-shadow(1px 1px 1px #3b3b3b);
}
.Prev-btn:hover {
  transform: scale(1.2);
}
.Header-image {
  min-width: 50vw;
  max-height: 30vh;
  border-radius: 1.5rem;

  position: relative;
  overflow: hidden;
  box-shadow: 1px 1px 1px #3b3b3b;
}
.Frame-image {
  border: 0.25rem #ffd147 solid;
  width: 100%;
  min-height: 99%;

  position: absolute;
  left: 50%;
  bottom: 50%;

  border-radius: 1.5rem;
  transform: translate(-50%, 50%) scale(0.95);
  filter: drop-shadow(0.5px 0.5px 1px #5b4505);
}
.Title-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: start;
}
.Title-h2,
.Date-span,
.Place-span {
  color: #594306;
  text-transform: capitalize;
}
.Title-h2 {
  font-size: 5rem;
  font-weight: 900;
  text-shadow: 0.5px 0.5px 1px #5a4304;
}
.Date-span,
.Place-span {
  font-size: 1.8rem;
  font-weight: 600;
}
.Background-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffd147;
  z-index: -1;
  border-radius: 1.5rem;
  box-shadow: inset 5px 5px 25px 25px #e6b82f;
}

/* TEXT CONTENT */
.Text-container {
  position: relative;
  margin: 0 1rem;
}
.Intro-container {
  width: 70%;
  
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  margin: 1rem 0;
}
.Intro-h3 {
  font-size: 4rem;
  color: #594306;
  text-shadow: 0.5px 0.5px 1px #5a4304;
}
.Intro-p {
  color: #594306;
  font-size: 1.3rem;
}

/* LEFT SECTION */
.Text-columns {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.Left-section,
.Right-section {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: start;
  gap: 1rem;
  padding-bottom: 1rem;
}
.Section-text {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: start;
  gap: 1rem;
}
.Image-container {
  min-width: 12rem;
}
.Left-image,
.Right-image {
  width: 100%;
  height: 100%;

  object-fit: cover;
  border-radius: 1.5rem;
  box-shadow: 1px 1px 1px #5a4304;
}
.Section-h4 {
  font-size: 2.5rem;
  color: #594306;
  text-shadow: 0.5px 0.5px 1px #5a4304;
}
.Left-p,
.Right-p {
  font-size: 1.1rem;
  color: #594306;
}

/* PAINTINGS INFO */
.Left-container,
.Right-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: start;
  color: #594306;
}
.Left-container span,
.Right-container span {
  font-size: 1rem;
}
.Left-title,
.Right-title {
  font-style: italic;
}

/* ANIMATIONS */
@keyframes menuSliderOff {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes menuSliderOn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes imageAnimation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}

/* MEDIA QUERIES */
@media screen and (max-width: 770px) {
  .Header-signature {
    display: none;
  }
  .Nav-link {
    font-size: 4rem;
  }
}
@media screen and (max-width: 600px) {
  .Nav-link {
    font-size: 4rem;
  }
  .Nav-img {
    display: none;
  }
  .Header-li {
    transition: none;
  }
  .Header-li:hover .Nav-link {
    animation: none;
  }
}
@media screen and (max-width: 525px) {
  .Nav-link {
    font-size: 3rem;
  }
}
@media screen and (max-width: 400px) {
  .Nav-link {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 900px) {
  .Prev-btn {
    background-color: transparent;
    box-shadow: none;
  }
  .Prev-svg {
    box-shadow: 0.25px 0.25px 0.5px #5a4304;
  }
}
@media screen and (min-width: 1550px) {
  .Intro-p {
    font-size: 1.8rem;
  }
  .Left-p,
  .Right-p {
    font-size: 1.5rem;
  }
  .Text-columns {
    margin-top: 3rem;
  }
  .Image-container {
    min-width: 18rem;
  }
}
@media screen and (max-width: 1200px) {
  .Text-columns {
    flex-flow: row wrap;
  }
  .Intro-container {
    width: 90%;
    margin: 1rem auto;
    text-align: center;
  }
  .Image-container {
    min-width: 20rem;
  }
  .Header-image {
    max-height: 20vh;
  }
  .Title-h2 {
    font-size: 4rem;
  }
  .Date-span,
  .Place-span {
    font-size: 1.2rem;
  }
  .Intro-container {
    flex-flow: column;
    gap: 0.5rem;
  }
}
@media screen and (max-width: 700px) {
  .Header-image {
    display: none;
  }
  .Left-section,
  .Right-section {
    flex-flow: column;
  }
  .Image-container {
    max-height: 18rem;
    width: 100%;
    overflow: hidden;
    border-radius: 1.5rem;
    box-shadow: 1px 1px 1px #5a4304;
  }
  .Left-image {
    transform: translateY(-30%);
  }
  .Section-text {
    justify-content: center;
    align-items: center;
  }
  .Left-p,
  .Right-p {
    text-align: center;
  }
  .Left-container,
  .Right-container {
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 640px) {
  .Intro-p {
    font-size: 1rem;
  }
  .Right-p,
  .Left-p {
    font-size: 1rem;
  }
  .Left-container,
  .Right-container {
    order: -2;
  }
  .Left-container span,
  .Right-container span {
    font-size: 0.9rem;
  }
  .Title-h2 {
    font-size: 3rem;
  }
  .Intro-h3{
    font-size: 2.5rem;
  }
  .Main-header{
    gap: 1rem;
    min-height: auto;
  }
  .Prev-btn:hover{
    transform: none;
  }
}
