/*journeys.css*/
/*
-Reset: estilos de reseteo iguales para todas las páginas de la web
-Header: estilos del encabezado iguales para todas las páginas de la web.
-Main-header: Encabezado igual para todas las secciones de la página de Vincent's life
-Botones: botón anterior para regresar a la página de Vincent's life
-Container
-Animaciones
-Media Queries
*/

/* ---- RESET empieza aquí ---- */
/* Descripción: Estilos de reseteo para la normalización de estilos predeterminados del navegador. */
/* Reset general para todos los elementos */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
/* Estilos para elementos multimedia */
img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
}
/* Estilos para enlaces */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}
/* Estilos especiales para enlaces dentro de párrafos */
p a {
  display: inline;
}
/* Estilos para listas sin viñetas */
li {
  list-style-type: none;
}
/* Estilos para elementos de texto */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: 1em;
  text-decoration: none;
  color: inherit;
}
/* Estilos para formularios y elementos de formulario */
form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
/* Estilos para elementos SVG */
svg {
  display: block;
  fill: #ffd147;
}
/* Estilos para el cuerpo del documento */
body {
  min-height: 100vh;
  font-size: 100%;
  max-width: 98%;
  margin: auto;
  font-family: "Playfair Display", serif;
}
/* ---- RESET acaba aquí ---- */

/* ---- HEADER empieza aquí ---- */
/* Descripción: Estilos para el encabezado del sitio web. */

/* Estilos para el contenedor del encabezado */
.Header {
  max-width: 95%;
  margin: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  border-bottom: 0.1563rem solid #ffd147;
}
/* HEADER LEFT */
/* Estilos para el lado izquierdo del encabezado */
.Header-left {
  width: calc(3.5rem + 0.0625rem);
  height: 3.5rem;

  margin: 0.5rem;

  position: relative;
  border-radius: 50%;
  border: 2.5px solid #ffd147;
}
/* Estilos para la imagen del encabezado */
.Header-img {
  width: 3rem;
  height: 3rem;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* HEADER CENTER */
/* Estilos para la firma en el centro del encabezado */
.Header-signature {
  max-width: 8.5rem;
}
/* HEADER NAV */
/* Estilos para el menú de navegación */
.Header-ul {
  opacity: 0;
  background-color: #ffd147;
  width: 100%;
  height: 100%;

  position: fixed;
  top: 0%;
  right: -100%;
  z-index: 2;

  text-align: center;
  color: white;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  transition: all 0.6s ease-in-out;
  animation: menuSliderOff 0.6 ease;
}
/* Estilos para activar el menú de navegación */
.Header-ul.isActive {
  opacity: 1;
  right: 0%;

  animation: menuSliderOn 0.6s ease;
}
/* Estilos para los elementos de lista en el menú de navegación */
.Header-li {
  transition: all 0.5s ease;
}
/* Estilos para los enlaces en el menú de navegación */
.Nav-link {
  font-size: 5rem;
  font-weight: 900;
  text-transform: uppercase;
  text-shadow: 0.5px 0.5px 1px rgb(136, 136, 136);
}
/* Estilos de animación al pasar el mouse sobre los enlaces */
.Header-li:hover .Nav-link {
  animation: imageAnimation .3s ease-in-out both 1;
}
/* Estilos para las imágenes de fondo en los enlaces */
.Nav-img {
  opacity: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;

  position: fixed;
  top: 0%;
  left: 0%;
  z-index: -1;

  pointer-events: none;
  transition: all .5s ease;
}
/* Estilos de animación al pasar el mouse sobre las imágenes de fondo */
.Header-li:hover .Nav-img {
  opacity: .75;
}
/* Estilos para los enlaces no activos que no tienen el mouse sobre ellos */
.Nav-link.notActive:not(:hover) {
  opacity: 0.5;
}
/* Estilos para el icono "hamburguesa" */
.Hamburger {
  cursor: pointer;
  position: relative;
  z-index: 2;
}
/* Estilos para el círculo  que rodea el icono "hamburguesa" */
.Circle {
  opacity: 0;
  width: 3rem;
  height: 3rem;

  border: 3px solid white;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: drop-shadow(1px 1px 1px #c59403);

  transition: all 0.5s ease;
  pointer-events: none;
}
/* Estilos para activar el círculo  que rodea el icono "hamburguesa" */
.Circle.isActive {
  opacity: 1;
  pointer-events: auto;
}
/* Estilos para las barras del icono "hamburguesa" */
.Bar {
  display: block;
  width: 1.5625rem;
  height: 0.1875rem;
  margin: 0.3125rem auto;
  background-color: #ffd147;
  transition: all 0.5s ease-in-out;
  filter: drop-shadow(0.25px 0.25px 0.5px #c59403);
}
/* Estilos para las barras al activar el icono "hamburguesa" */
.Hamburger.isActive .Bar:nth-child(2) {
  transform: translateY(8px) rotate(45deg);
  background-color: white;
}
.Hamburger.isActive .Bar:nth-child(3) {
  opacity: 0;
  background-color: white;
}
.Hamburger.isActive .Bar:nth-child(4) {
  transform: translateY(-8px) rotate(-45deg);
  background-color: white;
}
/* ---- HEADER acaba aquí ---- */

/* ---- MAIN empieza aquí ---- */
/* Descripción: Estilos para el contenido principal del sitio web. */

/* MAIN */
.Main {
  margin: 1rem auto;

  position: relative;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

/* MAIN-HEADER - part of the main element below the header - same for all the sub-pages in Vincent's life*/
.Main-header {
  width: 85%;
  padding-top: 1rem;

  min-height: 25vh;
  max-height: 30vh;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}

/* PREV BUTTON */
.Prev-btn {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  transition: all 0.7s ease;
  cursor: pointer;
}
.Prev-svg {
  fill: #594306;
  width: 3rem;
  height: 3rem;
  border: 0.15rem solid #594306;
  border-radius: 50%;
  padding: 0.5rem;

  transition: all 0.7s ease;
  filter: drop-shadow(1px 1px 1px #3b3b3b);
}
.Prev-btn:hover {
  transform: scale(1.2);
}

/* MAIN-HEADER IMAGE */
.Header-image {
  min-width: 50vw;
  max-height: 30vh;
  border-radius: 1.5rem;

  position: relative;
  overflow: hidden;
  box-shadow: 2px 2px 2px #594306;
}
.Frame-image {
  border: 0.25rem #ffd147 solid;
  width: 100%;
  min-height: 99%;

  position: absolute;
  left: 50%;
  bottom: 50%;

  border-radius: 1.5rem;
  transform: translate(-50%, 50%) scale(.95);
}
.Image {
  transform: translateY(-50%);
}
.Title-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: start;
}
.Title-h2 {
  font-size: 5rem;
  font-weight: 900;
  text-shadow: .5px .5px 1px #5a4304;
  color: #594306;
  text-transform: capitalize;
}

/* TOP INTRODUCTORY TEXT */
.Text-container {
  width: 98%;
  margin: 2rem auto;
  position: relative;
  z-index: 1;
}
.Intro-container {
  width: 80%;
  margin: auto;
  padding-bottom: 1rem;
  text-align: center;
}
.Intro-p {
  color: #594306;
  font-size: 1.5rem;
}

/* YELLOW BACKGROUND */
.Background-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffd147;
  z-index: -1;
  border-radius: 1.5rem;
  box-shadow: inset 5px 5px 25px 25px #e6b82f;
}
/* LEFT & RIGHT SECTIONS */
.Text-columns {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  margin: 1rem 0;

  position: relative;
}
.Section-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 1rem;
}
.Section-container::after{
  content:'';
  background-color: #594306;
  height: .3rem;
  width: 100%;
  opacity: 50%;
  position: absolute;
  top: -5%;
  left: 0;
  border-radius: 1rem;
}
.Image-container {
  min-height: 20rem;
  min-width: 30rem;
  height: auto;

  border-radius: 1.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-shadow: 1px 1px 2px #594306;
}
.Section-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.Section-text {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  padding: 1rem 0;
}
.Section-h4 {
  font-size: 2.7rem;
  color: #594306;
  text-transform: capitalize;
  text-shadow: .5px .5px 1px #5a4304;
}
.Section-p {
  font-size: 1.3rem;
  color: #594306;
  width: 70%;
  text-align: center;
}
.Section-span {
  font-size: 1.6rem;
  font-weight: 700;
  color: #594306;
  text-shadow: .5px .5px 1px #5a4304;
}
.Section-container:nth-child(even) .Image-container {
  order: 1;
}

/* INFO ABOUT THE PAINTINGS (title, year, location) */
.Info-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: start;
  color: #594306;
  padding-top: 1rem;
  position: relative;
  bottom: 0;
  left: -25%;
}
.Section-container:nth-child(even) .Info-container {
  left: 25%;
  align-items: end;
}
.Info-title {
  font-style: italic;
  font-size: 1.2rem;
  text-transform: capitalize;
}
.Info-year,
.Info-place {
  font-size: 1.2rem;
}

/* ANIMATIONS HEADER */
@keyframes menuSliderOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes menuSliderIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Animación de escala para las imágenes */
@keyframes imageAnimation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}


/* MEDIA QUERIES */

/* MEDIA QUERY FOR HEADER SHARED BY ALL PAGES */
/* MENU & HEADER */
@media screen and (max-width: 770px) {
  .Header-signature {
    display: none;
  }
  .Nav-link {
    font-size: 4rem;
  }
}
@media screen and (max-width: 600px) {
  .Nav-link {
    font-size: 4rem;
  }
  .Nav-img {
    display: none;
  }
  .Header-li {
    transition: none;
  }
  .Header-li:hover .Nav-link {
    animation: none;
  }
}
@media screen and (max-width: 525px) {
  .Nav-link {
    font-size: 3rem;
  }
}
@media screen and (max-width: 400px) {
  .Nav-link {
    font-size: 2.5rem;
  }
}
/* BACKGROUND CONTAINER & MAIN HEADER IMAGE- Vincent's Life sections */
@media screen and (max-width: 930px) {
  .Header-image {
    display: none;
  }
}

/* PREV BUTTON */
@media screen and (max-width: 900px) {
  .Prev-btn {
    background-color: transparent;
    box-shadow: none;
  }
  .Prev-svg {
    box-shadow: 0.25px 0.25px .5px #5a4304;
  }
}

/* FOR JOURNEYS & PLACES ONLY */
/* Changed into columns */
@media screen and (max-width: 1200px) {
  .Section-container {
    flex-flow: column;
  }
  .Section-container:nth-child(even) .Image-container {
    order: 0;
  }
  .Image-container {
    width: 100%;
    max-height: 10rem;
  }
}
/* Font sizes modified */
@media screen and (max-width: 900px) {
  .Image-container {
    max-height: 15rem;
    overflow: hidden;
    border-radius: 1.5rem;
  }
  .Info-container,
  .Section-container:nth-child(even) .Info-container {
    left: 0%;
    align-items: center;
    order: -1;
    width: 100%;
  }
  .Info-title,
  .Info-year,
  .Info-place {
    font-size: 1rem;
    text-align: center;
  }
  .Section-h4{
    font-size: 2.5rem;
    text-align: center;
  }
  .Section-span{
    font-size: 1.5rem;
  }
  .Section-p{
    font-size: 1rem;
    width: 90%;
  }
}
/* Modified font-size for phone version */
@media screen and (max-width: 640px) {
  .Image-container {
    min-width: 10rem;
    min-height: 10rem;
  }
  .Intro-h3 {
    font-size: 3rem;
  }
  .Intro-p {
    text-align: center;
    font-size: 1.2rem;
    padding-bottom: 1rem;
  }
  .Title-h2 {
    font-size: 3rem;
  }
  .Main-header{
    gap: 1rem;
  }
  .Date-span,
  .Place-span {
    font-size: 1rem;
  }
  .Info-container{
    padding: 0;
  }
  .Text-container{
    margin: 0 auto;
  }
  .Text-columns{
    margin: 0;
  }
}
