/* RESET */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
}
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}
p a {
  display: inline;
}
li {
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: 1em;
  text-decoration: none;
  color: inherit;
}
form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
svg {
  display: block;
  fill: #ffd147;
}
body {
  font-size: 100%;
  font-family: "Playfair Display", serif;
  font-smooth: always;
}

/* HEADER */
.Header {
  max-width: 95%;
  margin: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  border-bottom: 0.1563rem solid #ffd147;
}
/* HEADER LEFT */
.Header-left {
  width: calc(3.5rem + 0.0625rem);
  height: 3.5rem;

  margin: 0.5rem;

  position: relative;
  border-radius: 50%;
  border: 2.5px solid #ffd147;
}
.Header-img {
  width: 3rem;
  height: 3rem;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* HEADER CENTER */
.Header-signature {
  max-width: 8.5rem;
}
/* HEADER NAV */
.Header-ul {
  opacity: 0;
  background-color: #ffd147;
  width: 100%;
  height: 100%;

  position: fixed;
  top: 0%;
  right: -100%;
  z-index: 2;

  text-align: center;
  color: white;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  transition: all 0.6s ease-in-out;
  animation: menuSliderOff 0.6 ease;
}
.Header-ul.isActive {
  opacity: 1;
  right: 0%;

  animation: menuSliderOn 0.6s ease;
}
.Header-li {
  transition: all 0.5s ease;
}
.Nav-link {
  font-size: 5.75rem;
  font-weight: 800;
  text-transform: uppercase;
}
.Header-li:hover .Nav-link {
  animation: imageAnimation 1s ease-in-out both 1;
}
.Nav-img {
  opacity: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;

  position: fixed;
  top: 0%;
  left: 0%;
  z-index: -1;

  pointer-events: none;
  transition: all 1s ease;
}
.Header-li:hover .Nav-img {
  opacity: 0.9;
  animation: imageAnimation 1s ease-in-out both 1;
}
.Nav-link.notActive:not(:hover) {
  opacity: 0.5;
}
.Hamburger {
  cursor: pointer;
  position: relative;
  z-index: 2;
}
.Circle {
  opacity: 0;
  width: 3rem;
  height: 3rem;

  border: 3px solid white;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  transition: all 0.5s ease;
  pointer-events: none;
  filter: drop-shadow(1px 1px 1px #c59403);
}
.Circle.isActive {
  opacity: 1;
  pointer-events: auto;
}
.Bar {
  display: block;
  width: 1.5625rem;
  height: 0.1875rem;
  margin: 0.3125rem auto;
  background-color: #ffd147;
  transition: all 0.5s ease-in-out;
  filter: drop-shadow(0.25px 0.25px 0.5px #c59403);
}
.Hamburger.isActive .Bar:nth-child(2) {
  transform: translateY(8px) rotate(45deg);
  background-color: white;
}
.Hamburger.isActive .Bar:nth-child(3) {
  opacity: 0;
  background-color: white;
}
.Hamburger.isActive .Bar:nth-child(4) {
  transform: translateY(-8px) rotate(-45deg);
  background-color: white;
}

/* MAIN */
.Main {
  background-color: #ffd147;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
}

/* GRID OF THREE COLUMNS*/
.Grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 0.5rem;
}
.Loving-p {
  grid-column: 1/2;
  grid-row: 2/3;
  padding: 0.5rem;

  text-align: center;
  margin: auto;

  font-size: 1.3rem;
}

/* DISCOVER MORE */
.Image-container {
  grid-column: 2/3;
  grid-row: 1/2;
  overflow: hidden;
  border-radius: 1.5rem;

  position: relative;
  box-shadow: 2px 2px 3px #8a8a8a;
}
.Close-container {
  position: absolute;
  top: 2%;
  right: 2%;
}
.Loving-a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.Loving-btn {
  color: #3a6ed1;
  background-color: #ffd147;
  font-size: 2rem;
  text-transform: capitalize;
  font-weight: 900;
  padding: 1rem 2rem;
  border: 4px solid #3a6ed1;
  border-radius: 2.5rem;
  transition: all 0.5s ease;
  cursor: pointer;
  box-shadow: 1px 1px 1px #22488f;
  text-shadow: 0.25px 0.25px 0.5px #22488f;
}
.Loving-btn:hover {
  border-color: #ffd147;
  background-color: #3a6ed1;
  color: #ffd147;
  transform: scale(1.1);
  box-shadow: 2px 2px 2px #926e00;
  text-shadow: 1px 1px 1px #926e00;
}
.Portrait-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* BUTTONS */
/* Close button */
.Close-btn {
  cursor: pointer;
  background-color: #ffd147;
  padding: 0.5rem;
  border-radius: 50%;

  transition: all 0.5s ease;
}
.Close-svg {
  width: 2rem;
  height: 2rem;
  fill: white;
  transition: all 0.5s ease;
  filter: drop-shadow(2px 1px 1.5px #c59403);
}

/* ANIMATIONS HEADER */
@keyframes menuSliderOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes menuSliderIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes imageAnimation {
  0% {
    transform: scale(70%);
  }
  100% {
    transform: scale(100%);
  }
}

/* ANIMATIONS COLUMNS */
@keyframes scaleImg {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(2);
  }
}
@keyframes slideDown {
  from {
    transform: translateY(300%);
    opacity: 0;
  }
  to {
    transform: translateY(140%);
    opacity: 1;
  }
}

/* MEDIA QUERIES */

/* MEDIA QUERY FOR HEADER SHARED BY ALL PAGES */
/* MENU & HEADER */
@media screen and (max-width: 770px) {
  .Header-signature {
    display: none;
  }
  .Nav-link {
    font-size: 4rem;
  }
}
@media screen and (max-width: 600px) {
  .Nav-link {
    font-size: 4rem;
  }
  .Nav-img {
    display: none;
  }
  .Header-li {
    transition: none;
  }
  .Header-li:hover .Nav-link {
    animation: none;
  }
}
@media screen and (max-width: 525px) {
  .Nav-link {
    font-size: 3rem;
  }
}
@media screen and (max-width: 400px) {
  .Nav-link {
    font-size: 2.5rem;
  }
}

/* MEDIA QUERIES - Making the design RESPONSIVE*/
@media screen and (max-width: 1000px) {
  .Loving-btn {
    text-align: center;
  }
  .Grid-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .Loving-container {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .Image-container {
    grid-column: 1/3;
    grid-row: 2/4;
  }
  .Loving-p {
    grid-column: 1/3;
    grid-row: 4/5;
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 500px) {
  .Loving-p {
    font-size: 0.9rem;
  }
  .Loving-btn:hover {
    background-color: #ffd147;
    border-color: #3a6ed1;
    color: #3a6ed1;
    box-shadow: 1px 1px 1px #22488f;
    text-shadow: 0.5px 0.5px 0.5px #22488f;
  }
}
