/* RESET */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
}
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}
p a {
  display: inline;
}
li {
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: 1em;
  text-decoration: none;
  color: inherit;
}
form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
svg {
  display: block;
  fill: #ffd147;
}
body {
  min-height: 100vh;
  font-size: 100%;
  margin: auto;
  font-family: "Playfair Display", serif;
}
/* HEADER */
.Header {
  max-width: 95%;
  margin: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  border-bottom: 0.1563rem solid #ffd147;
}
/* HEADER LEFT */
.Header-left {
  width: calc(3.5rem + 0.0625rem);
  height: 3.5rem;

  margin: 0.5rem;

  position: relative;
  border-radius: 50%;
  border: 2.5px solid #ffd147;
}
.Header-img {
  width: 3rem;
  height: 3rem;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* HEADER CENTER */
.Header-signature {
  max-width: 8.5rem;
}
/* HEADER NAV */
.Header-ul {
  opacity: 0;
  background-color: #ffd147;
  width: 100%;
  height: 100%;

  position: fixed;
  top: 0%;
  right: -100%;
  z-index: 2;

  text-align: center;
  color: white;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  transition: all 0.6s ease-in-out;
  animation: menuSliderOff 0.6 ease;
}
.Header-ul.isActive {
  opacity: 1;
  right: 0%;

  animation: menuSliderOn 0.6s ease;
}
.Header-li {
  transition: all 0.5s ease;
}
.Nav-link {
  font-size: 5rem;
  font-weight: 900;
  text-transform: uppercase;
  text-shadow: 0.5px 0.5px 1px rgb(136, 136, 136);
}
.Header-li:hover .Nav-link {
  animation: imageAnimation .3s ease-in-out both 1;
}
.Nav-img {
  opacity: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;

  position: fixed;
  top: 0%;
  left: 0%;
  z-index: -1;

  pointer-events: none;
  transition: all .5s ease;
}
.Header-li:hover .Nav-img {
  opacity: .75;
}
.Nav-link.notActive:not(:hover) {
  opacity: 0.5;
}
.Hamburger {
  cursor: pointer;
  position: relative;
  z-index: 2;
}
.Circle {
  opacity: 0;
  width: 3rem;
  height: 3rem;

  border: 3px solid white;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: drop-shadow(1px 1px 1px #c59403);

  transition: all 0.5s ease;
  pointer-events: none;
}
.Circle.isActive {
  opacity: 1;
  pointer-events: auto;
}
.Bar {
  display: block;
  width: 1.5625rem;
  height: 0.1875rem;
  margin: 0.3125rem auto;
  background-color: #ffd147;
  transition: all 0.5s ease-in-out;
  filter: drop-shadow(0.25px 0.25px 0.5px #c59403);
}
.Hamburger.isActive .Bar:nth-child(2) {
  transform: translateY(8px) rotate(45deg);
  background-color: white;
}
.Hamburger.isActive .Bar:nth-child(3) {
  opacity: 0;
  background-color: white;
}
.Hamburger.isActive .Bar:nth-child(4) {
  transform: translateY(-8px) rotate(-45deg);
  background-color: white;
}
/* MAIN */
.Main {
  margin: 0.7rem;
  height: 87vh;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.Next-container,
.Prev-container {
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;

  position: fixed;
  top: 80%;
  left: 25%;
  z-index: 1;

  box-shadow: 1px 1px 2px #503b02;
}
.Next-container {
  left: 96%;
}
.Next-btn,
.Prev-btn {
  width: 4.7rem;
  height: 4.7rem;
  background-color: #ffd147;
  border-radius: 50%;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  transition: all ease 0.7s;
  cursor: pointer;
}
.Next-svg,
.Prev-svg {
  fill: #775906;
  width: 3rem;
  height: 3rem;
  border: 0.15rem solid #775906;
  border-radius: 50%;
  padding: 0.5rem;

  transition: all ease 0.7s;
  filter: drop-shadow(1px 1px 1px #c59403);
}
.Next-svg:hover,
.Prev-svg:hover {
  transform: scale(1.2);
}
.Prev-container.isActive {
  opacity: 1;
  pointer-events: auto;
}
.Next-container.isActive {
  opacity: 1;
  pointer-events: auto;
}
.Grid-container {
  min-height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.625rem;
}
.Column-text {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: start;
  gap: 3rem;
}
.Column-h1 {
  font-size: 6.5rem;
  font-weight: 900;
  text-transform: capitalize;
  margin: 0rem 1rem 0rem 0rem;
  max-width: 30rem;
  text-shadow: 0.5px 0.5px 0.5px #434343;
  color: #ffd147;
}
.Column-p {
  width: 75%;
  color: #775906;
  max-width: 80%;
  font-size: 1.8rem;
}
.Column-images {
  border-radius: 1.5rem;

  position: relative;
  overflow: hidden;
  cursor: pointer;

  box-shadow: 1px 1px 1px #8a8a8a;
}
.Column-images.isHidden {
  display: none;
}
.Column-img {
  min-height: 100%;
  -webkit-filter: grayscale(60%);
  filter: grayscale(60%) blur(0.025rem);

  object-fit: cover;
  transition: all 0.5s ease;
}
.Column-frame {
  border: 0.25rem solid #ffd147;
  width: 100%;

  position: absolute;
  height: 100%;
  left: 50%;
  bottom: 50%;
  border-radius: 1.5rem;
  transform: translate(-50%, 50%) scale(0.96);
  transition: all ease 0.8s;
  filter: drop-shadow(0.5px 0.5px 1px #5b4505);
}
.Column-h2 {
  opacity: 0;
  font-size: 4.8rem;
  text-transform: capitalize;

  text-align: center;
}
.Column-h2.isActive {
  opacity: 1;
}
.Column-images:hover .Column-img {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  transform: scale(1.1);
}
.Column-images:hover .Column-h2 {
  color: #ffd147;
  animation: slideDown 0.5s ease both;
}
/* ANIMATIONS */
@keyframes menuSliderOff {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/* Animación para que el menú aparezca */
@keyframes menuSliderOn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Animación de escala para las imágenes */
@keyframes imageAnimation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}

/* ---- Animaciones de las columnas ---- */

/* Animación de escala para las imágenes */
@keyframes scaleImg {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(2);
  }
}
/* Animación de deslizamiento hacia abajo para el título */
@keyframes slideDown {
  from {
    transform: translateY(300%);
    opacity: 0;
  }
  to {
    transform: translateY(200%);
    opacity: 1;
  }
}
/* ---- Fin de las animaciones de las columnas ---- */

/* ---- Media Queries ---- */

/* Media Query para el encabezado compartido por todas las páginas /
/ Menú y encabezado */
@media screen and (max-width: 770px) {
  /* Ocultar la firma en el encabezado */
  .Header-signature {
    display: none;
  }
  /* Estilos de tamaño de fuente para los enlaces del menú de navegación */
  .Nav-link {
    font-size: 4rem;
  }
}
/* Media Query para pantallas con un ancho máximo de 600px */
@media screen and (max-width: 600px) {
  /* Estilos de tamaño de fuente para los enlaces del menú de navegación */
  .Nav-link {
    font-size: 4rem;
  }
  /* Se anula la animación de escala en los enlaces del menú al hacer hover */
  .Header-li:hover .Nav-link {
    animation: none;
  }
  /* Cambio de color al hacer hover en el título de las imágenes de las columnas */
  .Column-images:hover .Column-h2 {
    color: #ffd147;
  }
  /* Cambio de color del marco al hacer hover en las imágenes de las columnas */
  .Column-images:hover .Column-frame {
    border-color: #ffd147;
  }
  /* Anulación de la animación de escala en las imágenes de las columnas al hacer hover */
  .Column-images:hover .Column-img {
    transform: none;
  }
}
/* Media Query para pantallas con un ancho máximo de 525px */
@media screen and (max-width: 525px) {
  /* Estilos de tamaño de fuente para los enlaces del menú de navegación */
  .Nav-link {
    font-size: 3rem;
  }
}
/* Media Query para pantallas con un ancho máximo de 400px */
@media screen and (max-width: 400px) {
  /* Estilos de tamaño de fuente para los enlaces del menú de navegación */
  .Nav-link {
    font-size: 2.5rem;
  }
}

/* ---- Media Queries para pantallas más grandes - laptops ---- */
/* Media Query para pantallas con un ancho máximo de 1350px */
@media screen and (max-width: 1350px) {
  /* Estilos de tamaño de fuente para los enlaces del menú de navegación */
  .Column-h1 {
    font-size: 4.4rem;
  }
  /* Estilos de tamaño de fuente para los enlaces del menú de navegación */
  .Column-h2 {
    font-size: 4rem;
  }
}
/* Media Query para pantallas con un ancho máximo de 1200px */
@media screen and (max-width: 1200px) {
  /* Cambio del diseño de la cuadrícula a 3 columnas y 2 filas */
  .Grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  /* Ajuste del tamaño del título de la primera columna */
  .Column-h1 {
    max-width: 15rem;
    font-size: 4rem;
  }
  /* Ajuste del tamaño del título de las imágenes de las columnas */
  .Column-h2 {
    opacity: 1;
    font-size: 3rem;
    color: #ffd147;
  }
  /* Anulación de la animación de deslizamiento en el título de las imágenes al hacer hover */
  .Column-images:hover .Column-h2 {
    animation: none;
  }
  /* Ajuste del tamaño del párrafo de la primera columna */
  .Column-p {
    font-size: 1.2rem;
  }
  /* Ajuste del tamaño de los enlaces del menú */
  .Nav-link {
    font-size: 5rem;
  }
  /* Ajuste del tamaño de los círculos */
  .Circle {
    width: 2.7rem;
    height: 2.7rem;
  }
  /* Anulación del efecto de escala y filtro de grises en las imágenes de las columnas */
  .Column-img {
    filter: none;
  }
}

/* ---- Media Queries para pantallas más pequeñas - tablets ---- */

/* Media Query para pantallas con un ancho máximo de 830px */
@media screen and (max-width: 830px) {
  /* Ajuste del tamaño de los enlaces del menú */
  .Nav-link {
    font-size: 3.5rem;
  }
  /* Ajuste del tamaño del título de la primera columna */
  .Column-h1 {
    max-width: 12rem;
    font-size: 3.2rem;
  }
  /* Ajuste del tamaño del título de las imágenes de las columnas */
  .Column-h2 {
    font-size: 2.3rem;
  }
}
/* Media Query para pantallas con un ancho máximo de 600px */
@media screen and (max-width: 600px) {
  /* Se oculta la firma en el encabezado */
  .Header-signature {
    display: none;
  }
  /* Ajuste del tamaño del título de la primera columna */
  .Column-h1 {
    font-size: 2.2rem;
  }
  /* Ajuste del tamaño del párrafo de la primera columna */
  .Column-p {
    font-size: 0.8rem;
    width: 100%;
  }
  /* Ajuste del tamaño del título de las imágenes de las columnas */
  .Column-h2 {
    font-size: 1.9rem;
  }
  /* Ajuste del tamaño de los enlaces del menú */
  .Nav-link {
    font-size: 2.7rem;
  }
  /* Se oculta la imagen del menú */
  .Nav-img {
    display: none;
  }
  /* Se anula la transición del menú al hacer hover */
  .Header-li {
    transition: none;
  }
}
/* ---- Media Queries para pantallas más pequeñas - smartphones ---- */
/* Media Query para pantallas con un ancho máximo de 490px */
@media screen and (max-width: 490px) {
  /* Cambio del diseño de la cuadrícula a 2 columnas y 3 filas */
  .Grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  /* Ajuste del espacio entre elementos del texto en las columnas */
  .Column-text {
    gap: 0.2rem;
  }
  /* Ajuste del tamaño del título de la primera columna */
  .Column-h1 {
    font-size: 2rem;
  }
  /* Ajuste del tamaño del título de las imágenes de las columnas */
  .Column-h2 {
    font-size: 2rem;
    text-shadow: 0.5px 0.5px 0.5px #434343;
    color: #ffd147;
  }
  /* Ajuste del color del marco de las imágenes de las columnas */
  .Column-frame {
    border-color: #ffd147;
  }
  .Main{
    height: 80vh;
  }
}
/* ---- Fin de las Media Queries ---- */
