* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
}
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}
p a {
  display: inline;
}
li {
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: 1em;
  text-decoration: none;
  color: inherit;
}
form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
svg {
  display: block;
  fill: #ffd147;
}
body {
  font-size: 100%;
  font-family: "Playfair Display", serif;
  font-smooth: always;
}

/* HEADER */
.Header {
  width: 95%;
  margin: 0.1rem auto;
  max-width: 105rem;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  border-bottom: 0.1563rem #ffd147 solid;
}
.Header-left {
  background-color: #ffd147;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  margin: 0.625rem;
  padding: 0.2rem;

  position: relative;
}
.Header-img {
  width: 2.6rem;
  height: 2.6rem;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.Header-signature {
  max-width: 7.375rem;
}
.Header-ul {
  opacity: 0;
  display: block;
  position: fixed;
  top: 0%;
  right: -100%;
  background-color: #ffd147;
  width: 100%;
  height: 100%;
  text-align: center;
  color: white;
  z-index: 1;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  transition: all 0.6s ease-in-out;
  animation: menuSliderOut 0.6 ease;
}
.Header-ul.isActive {
  opacity: 1;
  right: 0%;

  animation: menuSliderIn 0.6s ease;
}
.Header-li {
  transition: all 0.5s ease;
}
.Header-li:hover .Nav-link {
  animation: imageAnimation 7s ease-in-out both 1;
}
.Header-li:hover .Nav-img {
  opacity: 0.8;
  animation: imageAnimation 7s ease-in-out both 1;
}
.Nav-link {
  font-size: 5.75rem;
  font-weight: 800;
  text-transform: uppercase;
}
.Nav-link.isInactive:not(:hover) {
  opacity: 0.5;
}
.Nav-img {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;

  opacity: 0;
  pointer-events: none;
  transition: all 1s ease;
}
.Hamburger {
  cursor: pointer;
  position: relative;
  z-index: 2;
}
.Circle {
  opacity: 0;
  pointer-events: none;
  border: 3px white solid;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease;
}
.Circle.isActive {
  opacity: 1;
  pointer-events: auto;
}
.Bar {
  display: block;
  width: 1.5625rem;
  height: 0.1875rem;
  margin: 0.3125rem auto;
  background-color: #ffd147;
  transition: all 0.5s ease-in-out;
}
.Hamburger.isActive .Bar:nth-child(2) {
  transform: translateY(8px) rotate(45deg);
  background-color: white;
}
.Hamburger.isActive .Bar:nth-child(3) {
  opacity: 0;
  background-color: white;
}
.Hamburger.isActive .Bar:nth-child(4) {
  transform: translateY(-8px) rotate(-45deg);
  background-color: white;
}

/* MAIN */
.Main {
  margin: 0.7rem auto;
  max-width: 95%;
  background-color: orange;
  height: 90vh;
}
.Grid-container {
  min-height: 85vh;
  width: auto;
  padding: .5rem 0;

  background-color: blueviolet;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0.625rem;
}

/* FIRST CONTAINER */
.First {
  max-height: 27rem;
  max-width: 45rem;

  background-color: aqua;
  border-radius: 1.5rem;

  overflow: hidden;
  position: relative;

  grid-column: 1 / 3;
  grid-row: 1 / 3;

  animation: slideLeft 1.5s ease 1 both;
}
.Image {
  min-width: auto;
  min-height: auto;
  object-fit: cover;

  transform: translateY(-20%) scale(110%);
  transition: transform 0.7s ease;
  transition-delay: 0.1s;
}
.First:hover .Image {
  transform: translate(-15%, 10%) scale(160%);
}
.Container-h1 {
  width: 25%;
  margin: 1.5625rem;
  text-transform: capitalize;
  font-size: 3rem;
  font-weight: 900;
  color: #ffd147;

  position: absolute;
  top: 30%;
  left: 0%;
}
.Container-frame {
  border: 0.25rem #ffd147 solid;
  width: 100%;
  min-height: 99%;

  position: absolute;
  left: 50%;
  bottom: 50%;
  border-radius: 1.5rem;
  transform: translate(-50%, 50%) scale(97%);
}

/*SECOND CONTAINER */
.Second {
  max-height: 13rem;
  max-width: 45rem;
  overflow: hidden;

  border-radius: 1.5rem;
  background-color: rgb(26, 6, 45);

  position: relative;
  overflow: hidden;

  grid-column: 1 / 3;
  grid-row: 3 / 4;

  animation: slideUp 1.75s ease 1 both 0.4s;
}
.Second:hover .Image {
  transform: scale(140%) translateY(10%);
}
.Container-h2 {
  width: 100%;
  margin: 0 0 0 1.5625rem;
  text-transform: capitalize;
  font-size: 5rem;
  font-weight: 900;
  color: #ffd147;
  letter-spacing: 0.1rem;
  line-height: 5rem;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* THIRD CONTAINER */
.Third {
  max-height: 13rem;
  max-width: 25rem;
  overflow: hidden;

  background-color: lawngreen;
  border-radius: 1.5rem;

  overflow: hidden;

  grid-column: 3 / 4;
  grid-row: 1 / 2;

  animation: slideDown 2.25s ease 1 both 0.8s;
}
.Third:hover .Image {
  transform: scale(150%) translate(-10%);
}

/* FOURTH CONTAINER */
.Fourth {
  max-height: 13rem;
  max-width: 25rem;
  overflow: hidden;

  background-color: crimson;
  border-radius: 1.5rem;

  position: relative;
  overflow: hidden;

  grid-column: 3 / 4;
  grid-row: 2 / 3;

  animation: slideDown 2.5s ease 1 both 0.6s;
}
.Fourth .Image {
  transform: translateY(-10%);
}
.Fourth:hover .Image {
  transform: scale(170%);
}

/* FIFTH CONTAINER */
.Fifth {
  max-height: 13rem;
  max-width: 25rem;
  overflow: hidden;

  background-color: #ffd147;
  border-radius: 1.5rem;

  grid-column: 3 / 4;
  grid-row: 3 / 4;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  transition: all 2s ease;
  position: relative;
}
.Container-p {
  font-size: 1.25rem;
  width: 80%;
  text-align: center;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  animation: fadeIn 1.7s ease both 2s;
}
.Container-author {
  font-size: 0.75rem;

  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);

  animation: fadeIn 1.7s ease both 2.5s;
}

/* SIXTH CONTAINER */
.Sixth {
  max-height: 13rem;
  max-width: 25rem;
  overflow: hidden;

  background-color: royalblue;
  border-radius: 1.5rem;
  position: relative;
  overflow: hidden;

  grid-column: 4 / 5;
  grid-row: 1 / 2;

  animation: slideDown 2.75s ease 1 both 0.8s;
}
.Sixth:hover .Image {
  transform: scale(150%) translateY(-50%);
}

/* SEVENTH CONTAINER */
.Seventh {
  max-height: 13rem;
  max-width: 25rem;
  overflow: hidden;

  background-color: #ffd147;
  border-radius: 1.5rem;

  grid-column: 4 / 5;
  grid-row: 2 / 3;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  position: relative;
}
.Introduction-p {
  font-size: 1.3rem;
  text-align: center;

  width: 70%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  animation: fadeIn 1.7s ease both 3.5s;
  transition: all 0.7s ease;
}

/* EIGHTH CONTAINER */
.Eighth {
  max-height: 13rem;
  max-width: 25rem;
  overflow: hidden;

  background-color: tomato;
  border-radius: 1.5rem;

  position: relative;
  overflow: hidden;

  grid-column: 4 / 5;
  grid-row: 3 / 4;

  animation: slideRight 2.5s ease 1 both 0.6s;
}
.Eighth .Image {
  transform: translateY(0%);
}
.Eighth:hover .Image {
  transform: translate(-30%, -30%) scale(2);
}
/* PANTALLAS MUY GRANDES - desktop*/
 @media screen and (min-width: 1500px) {
  .First {
    min-height: 35rem;
    max-width: 60rem;
  }
  .Second {
    min-height: 17rem;
    max-width: 60rem;
  }
  .Third,
  .Fourth,
  .Fifth,
  .Sixth,
  .Seventh,
  .Eighth {
    min-height: 17rem;
    max-width: 30rem;
  }
  .Header {
    max-width: 150rem;
  }

} */
/* PANTALLAS GRANDES - desktop */
@media screen and (min-width: 1024px) and (max-width: 1500px) {
  .Grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    min-height: 85rem;
  }
  .First {
    max-height: 36rem;
    max-width: 90rem;
  }
  .Second {
    max-height: 17.5rem;
    max-width: 90rem;
  }
  .Third {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .Fourth {
    grid-column: 2/3;
    grid-row: 4/5;
  }
  .Fifth {
    grid-column: 1/2;
    grid-row: 5/6;
  }
  .Sixth {
    grid-column: 2/3;
    grid-row: 5/6;
  }
  .Seventh {
    grid-column: 1/2;
    grid-row: 6/7;
  }
  .Eighth {
    grid-column: 2/3;
    grid-row: 6/7;
  }
  .Third,
  .Fourth,
  .Fifth,
  .Sixth,
  .Seventh,
  .Eighth {
    max-height: 17.5rem;
    max-width: 50rem;
  }
  .Header {
    max-width: 150rem;
  }
}
/* PANTALLAS GRANDES - laptop */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .Grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    min-height: 81rem;
  }
  .First {
    grid-column: 1/3;
    grid-row: 1/3;
    max-height: 36rem;
    max-width: 60rem;
  }
  .Second {
    grid-column: 1/3;
    grid-row: 3/4;
    max-height: 17.5rem;
    max-width: 60rem;
  }
  .Third {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .Fourth {
    grid-column: 2/3;
    grid-row: 4/5;
  }
  .Fifth {
    grid-column: 1/2;
    grid-row: 5/6;
  }
  .Sixth {
    grid-column: 2/3;
    grid-row: 5/6;
  }
  .Seventh {
    grid-column: 1/2;
    grid-row: 6/7;
  }
  .Eighth {
    grid-column: 2/3;
    grid-row: 6/7;
  }
  .Third,
  .Fourth,
  .Fifth,
  .Sixth,
  .Seventh,
  .Eighth {
    max-height: 17.5rem;
    max-width: 30rem;
  }
  .Header {
    max-width: 150rem;
  }
}
/* PANTALLAS MEDIANAS -tablet */
@media screen and (min-width: 480px) and (max-width: 768px) {
  .Grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(9, 1fr);
    min-height: 120rem;
  }
  .First {
    grid-column: 1/2;
    grid-row: 1/3;
  }
  .Second {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .Third {
    grid-column: 1/2;
    grid-row: 8/9;
  }
  .Fourth {
    grid-column: 1/2;
    grid-row: 5/6;
  }
  .Fifth {
    grid-column: 1/2;
    grid-row: 6/7;
  }
  .Sixth {
    grid-column: 1/2;
    grid-row: 7/8;
  }
  .Seventh {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .Eighth {
    grid-column: 1/2;
    grid-row: 9/10;
  }
  .Third,
  .Fourth,
  .Fifth,
  .Sixth,
  .Seventh,
  .Eighth {
    max-width: 60rem;
  }
  .Header-centre{
    display: none;
  }
}
/* PANTALLAS PEQUEÑAS -smartphones */
@media screen and (min-width: 320px) and (max-width: 480px) {
  .Main{
    max-height: 60rem;
  }
  .Grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    max-height: 60rem;
  }
  .First {
    grid-column: 1/3;
    grid-row: 1/3;
    max-height: 25rem;
  }
  .Second {
    grid-column: 1/3;
    grid-row: 3/4;
    max-height: 10rem;
  }
  .Third {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .Fourth {
    grid-column: 2/3;
    grid-row: 4/5;
  }
  .Fifth {
    grid-column: 1/2;
    grid-row: 5/6;
  }
  .Sixth {
    grid-column: 2/3;
    grid-row: 5/6;
  }
  .Seventh {
    grid-column: 1/2;
    grid-row: 6/7;
  }
  .Eighth {
    grid-column: 2/3;
    grid-row: 6/6;
  }
  .Third,
  .Fourth,
  .Fifth,
  .Sixth,
  .Seventh,
  .Eighth {
    max-height: 10rem;
  }
  .Header-centre{
    display: none;
  }
}
/* ANIMATIONS HEADER */
/* @keyframes menuSliderOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes menuSliderIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes imageAnimation {
  0% {
    transform: scale(100%);
  }
  50% {
    transform: scale(140%);
  }
  100% {
    transform: scale(100%);
  }
} */

/* ANIMATIONS MAIN */
/* @keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slideLeft {
  from {
    transform: translateX(-50%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes slideUp {
  from {
    transform: translateY(70%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes slideDown {
  from {
    transform: translateY(-150%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes slideRight {
  from {
    transform: translateX(50%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
} */
