/* RESET */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
}
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}
p a {
  display: inline;
}
li {
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: 1em;
  text-decoration: none;
  color: inherit;
}
form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
svg {
  display: block;
  fill: #ffd147;
}
html {
  overflow: hidden;
}
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: "Playfair Display", serif;
  font-smooth: always;
}

/* HEADER */
.Header {
  max-width: 95%;
  margin: 0.1rem auto;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  border-bottom: 0.1563rem solid #ffd147;
}
/* HEADER LEFT */
.Header-left {
  width: calc(3.5rem + 0.0625rem);
  height: 3.5rem;

  margin: 0.5rem;

  position: relative;
  border-radius: 50%;
  border: 2.5px solid #ffd147;
}
.Header-img {
  width: 3rem;
  height: 3rem;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* HEADER CENTER */
.Header-signature {
  max-width: 8.5rem;
}
/* HEADER NAV */
.Header-ul {
  opacity: 0;
  background-color: #ffd147;
  width: 100%;
  height: 100%;

  position: fixed;
  top: 0%;
  right: -100%;
  z-index: 1;

  text-align: center;
  color: white;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  transition: all 0.6s ease-in-out;
  animation: menuSliderOff 0.6 ease;
}
.Header-ul.isActive {
  opacity: 1;
  right: 0%;

  animation: menuSliderOn 0.6s ease;
}
.Header-li {
  transition: all 0.5s ease;
}
.Nav-link {
  font-size: 5.75rem;
  font-weight: 800;
  text-transform: uppercase;
}
.Header-li:hover .Nav-link {
  animation: imageAnimation 7s ease-in-out both 1;
}
.Nav-img {
  opacity: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;

  position: fixed;
  top: 0%;
  left: 0%;
  z-index: -1;

  pointer-events: none;
  transition: all 1s ease;
}
.Header-li:hover .Nav-img {
  opacity: 0.8;
  animation: imageAnimation 7s ease-in-out both 1;
}
.Nav-link.notActive:not(:hover) {
  opacity: 0.5;
}
.Hamburger {
  cursor: pointer;
  position: relative;
  z-index: 2;
}
.Circle {
  opacity: 0;
  width: 3rem;
  height: 3rem;

  border: 3px solid white;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  transition: all 0.5s ease;
  pointer-events: none;
}
.Circle.isActive {
  opacity: 1;
  pointer-events: auto;
}
.Bar {
  display: block;
  width: 1.5625rem;
  height: 0.1875rem;
  margin: 0.3125rem auto;
  background-color: #ffd147;
  transition: all 0.5s ease-in-out;
}
.Hamburger.isActive .Bar:nth-child(2) {
  transform: translateY(8px) rotate(45deg);
  background-color: white;
}
.Hamburger.isActive .Bar:nth-child(3) {
  opacity: 0;
  background-color: white;
}
.Hamburger.isActive .Bar:nth-child(4) {
  transform: translateY(-8px) rotate(-45deg);
  background-color: white;
}

/* MAIN */
.Main {
  margin: 0.7rem auto;
  max-width: 95%;
  height: 87vh;
  /* background-color: orange; */
}
.Grid-container {
  width: 100%;
  height: 100%;
  /* background-color: blueviolet; */

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0.5rem;
}

/* GENERAL STYLES FOR ALL THE CONTAINERS IN THE GRID */
.Container {
  border-radius: 1.5rem;

  overflow: hidden;
  position: relative;
}
.Image {
  width: 100%;
  object-fit: cover;
  transform: scale(110%);

  transition: transform 0.7s ease;
  transition-delay: 0.1s;
}
.Frame {
  border: 0.19rem solid #ffd147;
  width: 100%;
  min-height: 99%;

  position: absolute;
  left: 50%;
  bottom: 50%;
  border-radius: 1.5rem;
  transform: translate(-50%, 50%) scale(97%);
}

/* FIRST CONTAINER with the huge picture of The Starry Night*/
.Starry-night {
  background-color: aqua;

  grid-column: 1 / 3;
  grid-row: 1 / 3;

  animation: slideLeft 1s ease 1 both;
}
.Starry-night:hover .Image {
  transform: translate(-10%,-40%) scale(140%);
}
.Starry-h1 {
  width: 60%;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 900;
  color: #ffd147;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-75%, -50%);
}

/*SECOND CONTAINER with the picture of Almond Blossom*/
.Almond-blossom {
  background-color: rgb(26, 6, 45);

  grid-column: 1 / 3;
  grid-row: 3 / 4;

  animation: slideUp 1.3s ease 1 both 0.4s;
}
.Almond-blossom:hover .Image {
  transform: scale(180%) translateY(15%);
}
.Almond-h2 {
  width: 90%;
  text-transform: capitalize;
  font-size: 5rem;
  font-weight: 900;
  color: #ffd147;
  letter-spacing: 0.1rem;
  line-height: 5rem;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* THIRD CONTAINER with the picture of A Wheatfield with Cypresses*/
.Cypresses {
  background-color: lawngreen;

  grid-column: 3 / 4;
  grid-row: 1 / 2;

  animation: slideDown 1.7s ease 1 both 0.8s;
}
.Cypresses:hover .Image {
  transform: scale(170%) translate(-20%, -10%);
}

/* FOURTH CONTAINER with the picture of a Portrait*/
.Portrait {
  background-color: crimson;

  grid-column: 3 / 4;
  grid-row: 2 / 3;

  animation: slideDown 1.5s ease 1 both 0.6s;
}
.Portrait .Image {
  transform: translateY(-10%);
}
.Portrait:hover .Image {
  transform: scale(170%);
}

/* FIFTH CONTAINER of Van Gogh's quote*/
.Quote {
  background-color: #ffd147;

  grid-column: 3 / 4;
  grid-row: 3 / 4;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  transition: all 0.2s ease;
}
.Quote-p {
  font-size: 1.25rem;
  width: 80%;
  text-align: center;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  animation: fadeIn 1s ease both 1.7s;
}
.Quote-author {
  font-size: 0.75rem;

  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);

  animation: fadeIn 1s ease both 1.8s;
}
.Quote-p,
.Quote-author {
  color: #664e0a;
}
.Quote .Frame {
  animation: fadeIn 1s ease both 1.7s;
}

/* SIXTH CONTAINER with the picture of Sunflowers*/
.Sunflowers {
  background-color: royalblue;

  grid-column: 4 / 5;
  grid-row: 1 / 2;

  animation: slideDown 1.7s ease 1 both 0.8s;
}
.Sunflowers .Image {
  transform: translateY(-10%);
}
.Sunflowers:hover .Image {
  transform: scale(150%) translateY(-50%);
}

/* SEVENTH CONTAINER with the introduction of the homepage*/
.Introduction {
  background-color: #ffd147;

  grid-column: 4 / 5;
  grid-row: 2 / 3;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  transition: all 0.7s ease;
}
.Introduction-p {
  width: 60%;
  color: #664e0a;

  font-size: 1.25rem;
  text-align: center;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  animation: fadeIn 1s ease both 1.7s;
}
.Introduction .Frame,
.Quote .Frame {
  border-color: #664e0a;
}
.Introduction .Frame {
  animation: fadeIn 1s ease both 1.7s;
}

/* EIGHTH CONTAINER with the picture of Cafe Terrace at Night by Vincent Van Gogh*/
.Postman {
  background-color: tomato;

  grid-column: 4 / 5;
  grid-row: 3 / 4;

  animation: slideRight 1.5s ease 1 both 0.6s;
}
.Postman .Image{
  transform: translateY(-20%);
}
.Postman:hover .Image {
  transform: translateY(-10%) scale(1.5);
}

/* ANIMATIONS HEADER */
@keyframes menuSliderOff {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes menuSliderOn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes imageAnimation {
  0% {
    transform: scale(100%);
  }
  50% {
    transform: scale(140%);
  }
  100% {
    transform: scale(100%);
  }
}

/* ANIMATIONS MAIN */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slideLeft {
  from {
    transform: translateX(-50%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes slideUp {
  from {
    transform: translateY(70%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes slideDown {
  from {
    transform: translateY(-150%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes slideRight {
  from {
    transform: translateX(50%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

/* MEDIA QUERIES - Making the design RESPONSIVE */
/* Font- Big screens - desktop & laptops*/
@media screen and (min-width: 1320px){
  .Starry-h1{
    font-size: 5rem;
  }
  .Almond-h2{
    font-size: 6rem;
    line-height: 5rem;
  }
  .Quote-p{
    font-size: 1.4rem;
    width: 70%;
  }
  .Quote-author{
    font-size: 1rem;
  }
  .Introduction-p{
    font-size: 1.4rem;
    width: 80%;
  }
}
/* Big screens - desktop & laptops*/
@media screen and (max-width: 1320px) {
  html {
    overflow: auto;
  }
  .Main {
    min-height: 85rem;
  }
  .Nav-link{
    font-size: 4rem;
  }
  .Grid-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
  .Starry-night {
    grid-column: 1/3;
    grid-row: 1/3;
  }
  .Almond {
    grid-column: 1/3;
    grid-row: 2/3;
  }
  .Cypresses {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .Portrait {
    grid-column: 1/2;
    grid-row: 5/6;
  }
  .Quote {
    grid-column: 2/3;
    grid-row: 4/5;
  }
  .Sunflowers {
    grid-column: 1/2;
    grid-row: 5/6;
  }
  .Sunflowers {
    grid-column: 2/3;
    grid-row: 5/6;
  }
  .Introduction {
    grid-column: 1/2;
    grid-row: 6/7;
  }
  .Postman {
    grid-column: 2/3;
    grid-row: 6/7;
  }
}
/* Small screens -tablets & smartphones */
@media screen and (max-width: 600px) {
  .Main {
    /* min-height: 85rem; */
  }
  .Header-center {
    display: none;
  }
  .Nav-link{
    font-size: 2.8rem;
  }
  .Grid-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
  .Starry-night {
    grid-column: 1/3;
    grid-row: 1/3;
  }
  .Starry-night .Image {
    transform: scale(1.7);
  }
  .Almond {
    grid-column: 1/3;
    grid-row: 2/3;
  }
  .Cypresses {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .Cypresses .Image {
    transform: translateY(20%) scale(2);
  }
  .Portrait {
    grid-column: 1/2;
    grid-row: 5/6;
  }
  .Portrait .Image {
    transform: scale(1.5);
  }
  .Quote {
    grid-column: 2/3;
    grid-row: 4/5;
  }
  .Sunflowers {
    grid-column: 1/2;
    grid-row: 5/6;
  }
  .Sunflowers {
    grid-column: 2/3;
    grid-row: 5/6;
  }
  .Introduction {
    grid-column: 1/2;
    grid-row: 6/7;
  }
  .Postman {
    grid-column: 2/3;
    grid-row: 6/7;
  }
  .Postman .Image {
    transform: scale(2);
  }
  .Starry-h1 {
    font-size: 3.2rem;
  }
  .Almond-h2 {
    font-size: 4rem;
    line-height: 3.5rem;
  }
  .Introduction-p,
  .Quote-p {
    font-size: 1rem;
  }
  .Quote-author {
    font-size: 0.63rem;
  }
}
