/* RESET */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
}
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}
p a {
  display: inline;
}
li {
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: 1em;
  text-decoration: none;
  color: inherit;
}
form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
svg {
  display: block;
  fill: #ffd147;
}
body {
  min-height: 100vh;
  font-size: 100%;
  max-width: 98%;
  margin: auto;
  font-family: "Playfair Display", serif;
  font-smooth: always;
}

/* HEADER */
.Header {
  max-width: 95%;
  margin: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  border-bottom: 0.1563rem solid #ffd147;
}
/* HEADER LEFT */
.Header-left {
  width: calc(3.5rem + 0.0625rem);
  height: 3.5rem;

  margin: 0.5rem;

  position: relative;
  border-radius: 50%;
  border: 2.5px solid #ffd147;
}
.Header-img {
  width: 3rem;
  height: 3rem;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* HEADER CENTER */
.Header-signature {
  max-width: 8.5rem;
}
/* HEADER NAV */
.Header-ul {
  opacity: 0;
  background-color: #ffd147;
  width: 100%;
  height: 100%;

  position: fixed;
  top: 0%;
  right: -100%;
  z-index: 2;

  text-align: center;
  color: white;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  transition: all 0.6s ease-in-out;
  animation: menuSliderOff 0.6 ease;
}
.Header-ul.isActive {
  opacity: 1;
  right: 0%;

  animation: menuSliderOn 0.6s ease;
}
.Header-li {
  transition: all 0.5s ease;
}
.Nav-link {
  font-size: 5.75rem;
  font-weight: 800;
  text-transform: uppercase;
}
.Header-li:hover .Nav-link {
  animation: imageAnimation 2s ease-in-out both 1;
}
.Nav-img {
  opacity: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;

  position: fixed;
  top: 0%;
  left: 0%;
  z-index: -1;

  pointer-events: none;
  transition: all 1s ease;
}
.Header-li:hover .Nav-img {
  opacity: 0.9;
  animation: imageAnimation 2s ease-in-out both 1;
}
.Nav-link.notActive:not(:hover) {
  opacity: 0.5;
}
.Hamburger {
  cursor: pointer;
  position: relative;
  z-index: 2;
}
.Circle {
  opacity: 0;
  width: 3rem;
  height: 3rem;

  border: 3px solid white;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  transition: all 0.5s ease;
  pointer-events: none;
  filter: drop-shadow(1px 1px 1px #c59403);
}
.Circle.isActive {
  opacity: 1;
  pointer-events: auto;
}
.Bar {
  display: block;
  width: 1.5625rem;
  height: 0.1875rem;
  margin: 0.3125rem auto;
  background-color: #ffd147;
  transition: all 0.5s ease-in-out;
  filter: drop-shadow(0.25px 0.25px 0.5px #c59403);
}
.Hamburger.isActive .Bar:nth-child(2) {
  transform: translateY(8px) rotate(45deg);
  background-color: white;
}
.Hamburger.isActive .Bar:nth-child(3) {
  opacity: 0;
  background-color: white;
}
.Hamburger.isActive .Bar:nth-child(4) {
  transform: translateY(-8px) rotate(-45deg);
  background-color: white;
}

/* MAIN*/
.Main {
  margin: 0.7rem auto;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

/* MAIN-HEADER - part of the main element below the header - same for all the sub-pages in Vincent's life*/
.Main-header {
  width: 85%;

  min-height: 25vh;
  max-height: 30vh;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}

/* PREV BUTTON */
.Prev-btn {
  width: 4rem;
  height: 4rem;
  background-color: #ffd147;
  border-radius: 50%;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  transition: all 0.7s ease;
  cursor: pointer;

  box-shadow: 1px 1px 2px #5a4304;
}
.Prev-svg {
  fill: #775906;
  width: 3rem;
  height: 3rem;
  border: 0.15rem solid #775906;
  border-radius: 50%;
  padding: 0.5rem;

  transition: all 0.7s ease;
  filter: drop-shadow(1px 1px 1px #c59403);
}
.Prev-btn:hover {
  transform: scale(1.2);
}

/* MAIN-HEADER IMAGE */
.Header-image {
  min-width: 50vw;
  max-height: 30vh;
  border-radius: 1.5rem;

  position: relative;
  overflow: hidden;
  box-shadow: 2px 2px 2px #775906;
}
.Frame-image {
  border: 0.25rem #ffd147 solid;
  width: 100%;
  min-height: 99%;

  position: absolute;
  left: 50%;
  bottom: 50%;

  border-radius: 1.5rem;
  transform: translate(-50%, 50%) scale(95%);
}
.Image {
  transform: translateY(-20%);
}
.Title-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: start;
}
.Title-h2 {
  font-size: 5rem;
  font-weight: 900;
  text-shadow: .5px .5px 1px #5a4304;
  color: #775906;
  text-transform: capitalize;
}
.Date-span {
  font-size: 1.8rem;
  color: #775906;
  text-transform: capitalize;
  font-weight: 600;
  text-shadow: .5px .5px 1px #5a4304;
}

/* YELLOW BACKGROUND */
.Background-container {
  width: 97%;
  height: 100vh;
  background-color: #ffd147;

  position: fixed;
  top: 30%;
  right: 0%;
  z-index: -1;
}

/* YELLOW BACKGROUND */
.Background-container {
  width: 98%;
  height: 100vh;
  background-color: #ffd147;

  position: fixed;
  top: 35%;
  right: 0%;
  z-index: -1;

  border-radius: 1.5rem 0 0 0;

  box-shadow: inset 5px 5px 25px 25px #e6b82f;
}

/* MAIN CONTENT */
.Container-ul {
  width: 80%;
  height: auto;
  position: relative;
  margin-top: 5rem;
}
.Container-ul::after {
  position: absolute;
  content: "";
  width: 0.2rem;
  height: 100%;
  background-color: #3a6ed1;
}
.Info-li {
  width: 50%;
  height: auto;
  padding: 0.9375rem 1.25rem;
  background-color: #3a6ed1;
  box-shadow: 1px 1px 2px #04235c;
  border-radius: 1.5rem;
  margin-bottom: 1.5rem;
  position: relative;
  z-index: 1;
  margin-bottom: 0;
}
.Info-li:nth-child(odd) {
  float: left;
  clear: right;
  transform: translateX(-2rem);
}
.Info-li:nth-child(odd) .Circle-ul {
  right: -2.1rem;
  transform: translate(50%, -50%);
}
.Info-li:nth-child(even) {
  float: right;
  clear: left;
  transform: translateX(2rem);
}
.Info-li:nth-child(even) .Circle-ul {
  left: -1.9rem;
  transform: translate(-50%, -50%);
}
.Li-span {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  color: #ffd147;
  text-shadow: .5px .5px 1px #04235c;
}
.Li-p {
  font-size: 1.2rem;
  color:white;
}
.Circle-ul {
  width: 2rem;
  height: 2rem;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  border: 0.18rem solid #3a6ed1;

  position: absolute;
  top: 0%;
}
.Circle-ul::after {
  content: "";
  width: 20px;
  height: 20px;
  background-color: #3a6ed1;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ANIMATIONS HEADER */
@keyframes menuSliderOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes menuSliderIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes imageAnimation {
  0% {
    transform: scale(30%);
  }
  100% {
    transform: scale(90%);
  }
}

/* MEDIA QUERIES */

/* MEDIA QUERY FOR HEADER SHARED BY ALL PAGES */
/* MENU & HEADER */
@media screen and (max-width: 770px) {
  .Header-signature {
    display: none;
  }
  .Nav-link {
    font-size: 4rem;
  }
}
@media screen and (max-width: 600px) {
  .Nav-link {
    font-size: 4rem;
  }
}
@media screen and (max-width: 525px) {
  .Nav-link {
    font-size: 3rem;
  }
}
@media screen and (max-width: 400px) {
  .Nav-link {
    font-size: 2.5rem;
  }
}

/* BACKGROUND CONTAINER & MAIN HEADER IMAGE- Vincent's Life sections */
@media screen and (max-width: 900px) {
  .Background-container {
    top: 12%;
    left: 0%;
    margin: auto;
    width: 95%;
    border-radius: 1.5rem;
  }
}
@media screen and (max-width: 930px) {
  .Header-image {
    display: none;
  }
}

/* PREV BUTTON */
@media screen and (max-width: 900px) {
  .Prev-btn {
    background-color: transparent;
    box-shadow: none;
  }
  .Prev-svg {
    box-shadow: 1px 1px 2px #5a4304;
  }
}

/* MEDIA QUERY */
/* Timeline made into a column */
@media screen and (max-width: 900px) {
  .Main {
    width: 85%;
  }
  .Info-li {
    width: 100%;
    float: none;
    clear: none;
    margin-bottom: 3rem;
  }
  .Info-li:nth-child(odd) {
    transform: translateX(0);
    text-align: left;
  }
  .Info-li:nth-child(odd) .Circle-ul {
    left: -2rem;
    transform: translate(-50%, -50%);
  }
  .Info-li:nth-child(even) {
    transform: translateX(0);
  }
  .Container-ul::after {
    left: -2rem;
  }
}
/* Timeline font */
@media screen and (max-width: 900px) {
  .Main-header {
    width: 100%;
  }
}
/* Modified font-size for phone version */
@media screen and (max-width: 600px){
  .Main{
    width: 90%;
  }
  .Title-h2 {
    font-size: 3rem;
  }
  .Container-ul{
    margin-top: .5rem;
  }
  .Li-span{
    font-size: 1.5rem;
  }
  .Li-p{
    font-size: 1rem;
  }
}
