/* RESET */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
}
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}
p a {
  display: inline;
}
li {
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: 1em;
  text-decoration: none;
  color: inherit;
  display: block;
}
form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
svg {
  display: block;
  fill: #ffd147;
}
html {
  overflow: hidden;
}
body {
  min-height: 100vh;
  font-size: 100%;
  max-width: 98%;
  margin: auto;
  font-family: "Playfair Display", serif;
}

/* HEADER */
.Header {
  max-width: 95%;
  margin: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  border-bottom: 0.1563rem solid #ffd147;
}
/* HEADER LEFT */
.Header-left {
  width: calc(3.5rem + 0.0625rem);
  height: 3.5rem;

  margin: 0.5rem;

  position: relative;
  border-radius: 50%;
  border: 2.5px solid #ffd147;
}
.Header-img {
  width: 3rem;
  height: 3rem;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* HEADER CENTER */
.Header-signature {
  max-width: 8.5rem;
}
/* HEADER NAV */
.Header-ul {
  opacity: 0;
  background-color: #ffd147;
  width: 100%;
  height: 100%;

  position: fixed;
  top: 0%;
  right: -100%;
  z-index: 2;

  text-align: center;
  color: white;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  transition: all 0.6s ease-in-out;
  animation: menuSliderOff 0.6 ease;
}
.Header-ul.isActive {
  opacity: 1;
  right: 0%;

  animation: menuSliderOn 0.6s ease;
}
.Header-li {
  transition: all 0.5s ease;
}
.Nav-link {
  font-size: 5.75rem;
  font-weight: 800;
  text-transform: uppercase;
}
.Header-li:hover .Nav-link {
  animation: imageAnimation 1s ease-in-out both 1;
}
.Nav-img {
  opacity: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;

  position: fixed;
  top: 0%;
  left: 0%;
  z-index: -1;

  pointer-events: none;
  transition: all 1s ease;
}
.Header-li:hover .Nav-img {
  opacity: 0.9;
  animation: imageAnimation 1s ease-in-out both 1;
}
.Nav-link.notActive:not(:hover) {
  opacity: 0.5;
}
.Hamburger {
  cursor: pointer;
  position: relative;
  z-index: 2;
}
.Circle {
  opacity: 0;
  width: 3rem;
  height: 3rem;

  border: 3px solid white;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  transition: all 0.5s ease;
  pointer-events: none;
  filter: drop-shadow(1px 1px 1px #c59403);
}
.Circle.isActive {
  opacity: 1;
  pointer-events: auto;
}
.Bar {
  display: block;
  width: 1.5625rem;
  height: 0.1875rem;
  margin: 0.3125rem auto;
  background-color: #ffd147;
  transition: all 0.5s ease-in-out;
  filter: drop-shadow(.25px .25px .5px #c59403);
}
.Hamburger.isActive .Bar:nth-child(2) {
  transform: translateY(8px) rotate(45deg);
  background-color: white;
}
.Hamburger.isActive .Bar:nth-child(3) {
  opacity: 0;
  background-color: white;
}
.Hamburger.isActive .Bar:nth-child(4) {
  transform: translateY(-8px) rotate(-45deg);
  background-color: white;
}

/* MAIN */
.Main {
  margin: 0.7rem;
  height: 87vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
.Main-container {
  width: 80%;
  background-color: #ffd147;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  border: 0.4rem solid #1f54b6;

  border-radius: 3rem;
  padding: 3rem 0;
  position: relative;

  box-shadow: 1px 1px 1px #22488f;
}
.Container-h1 {
  font-size: 7rem;
  font-weight: 900;
  text-transform: capitalize;
  color: #1f54b6;
  text-shadow: .5px .5px 1px #22488f;
}
.Container-h2 {
  color: #1f54b6;
  font-size: 2rem;
  text-shadow: .25px .25px .5px #22488f;
}
.Container-p {
  color: #1f54b6;
  width: 80%;
  text-align: center;
  font-size: 1.2rem;
}
.Button-a{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.Btn {
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 0.3rem;
  font-size: 1.5rem;
  color: #ffd147;
  background-color: #1f54b6;
  border: 0.3rem solid #1f54b6;
  padding: 1rem 2rem;
  border-radius: 3rem;
  transition: all 1s ease;
  cursor: pointer;

  animation: sizingBtn 4s ease infinite;
  box-shadow: 1px 1px 1px #22488f;
}
.Btn:hover {
  color: #1f54b6;
  background-color: transparent;
  animation: none;
}

/* ANIMATIONS HEADER */
@keyframes menuSliderOff {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes menuSliderOn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes imageAnimation {
  0% {
    transform: scale(.7);
  }
  100% {
    transform: scale(1);
  }
}

/* ANIMATION MAIN */
@keyframes sizingBtn {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(0.97);
  }
  100% {
    transform: scale(0.9);
  }
}

/* MEDIA QUERIES */

/* MEDIA QUERY FOR HEADER SHARED BY ALL PAGES */
/* MENU & HEADER */
@media screen and (max-width: 770px) {
  .Header-signature {
    display: none;
  }
  .Nav-link {
    font-size: 4rem;
  }
}
@media screen and (max-width: 600px) {
  .Nav-link {
    font-size: 4rem;
  }
  .Nav-img {
    display: none;
  }
  .Header-li {
    transition: none;
  }
  .Header-li:hover .Nav-link {
    animation: none;
  }
}
@media screen and (max-width: 525px) {
  .Nav-link {
    font-size: 3rem;
  }
}
@media screen and (max-width: 400px) {
  .Nav-link {
    font-size: 2.5rem;
  }
}

/* MEDIA QUERIES - Making the design RESPONSIVE */
/* Big screens - desktop & laptops*/
@media screen and (max-width: 950px) {
  .Container-h1 {
    font-size: 5rem;
  }
  .Container-h2 {
    font-size: 1.5rem;
  }
  .Container-p {
    font-size: 1rem;
  }
  .Btn {
    font-size: 1.2rem;
    padding: 1rem;
    width: 80%;
  }
}
/* Small screens -tablets & smartphones */
@media screen and (max-width: 675px) {
  .Main{
    height: auto;
  }
  .Main-container{
    width: 95%;
    padding: 1rem 0;
  }
  .Container-h1 {
    font-size: 2.8rem;
  }
  .Container-h2 {
    font-size: 1.1rem;
  }
  .Container-p {
    font-size: 1rem;
  }
  .Btn {
    font-size: 1rem;
    text-align: center;
  }
  .Btn:hover{
    background-color: #1f54b6;
  }
}
