/* RESET */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
}
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}
p a {
  display: inline;
}
li {
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: 1em;
  text-decoration: none;
  color: inherit;
}
form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
svg {
  width: 2rem;
  height: 2rem;
  display: block;
  fill: #ffd147;
}
body {
  min-height: 100vh;
  font-size: 100%;
  max-width: 98%;
  margin: auto;
  font-family: "Playfair Display", serif;
}

/* HEADER */
.Header {
  max-width: 95%;
  margin: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  border-bottom: 0.1563rem solid #ffd147;
}
/* HEADER LEFT */
.Header-left {
  width: calc(3.5rem + 0.0625rem);
  height: 3.5rem;

  margin: 0.5rem;

  position: relative;
  border-radius: 50%;
  border: 2.5px solid #ffd147;
}
.Header-img {
  width: 3rem;
  height: 3rem;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* HEADER CENTER */
.Header-signature {
  max-width: 8.5rem;
}
/* HEADER NAV */
.Header-ul {
  opacity: 0;
  background-color: #ffd147;
  width: 100%;
  height: 100%;

  position: fixed;
  top: 0%;
  right: -100%;
  z-index: 2;

  text-align: center;
  color: white;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  transition: all 0.6s ease-in-out;
  animation: menuSliderOff 0.6 ease;
}
.Header-ul.isActive {
  opacity: 1;
  right: 0%;

  animation: menuSliderOn 0.6s ease;
}
.Header-li {
  transition: all 0.5s ease;
}
.Nav-link {
  font-size: 5.75rem;
  font-weight: 800;
  text-transform: uppercase;
}
.Header-li:hover .Nav-link {
  animation: imageAnimation 1s ease-in-out both 1;
}
.Nav-img {
  opacity: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;

  position: fixed;
  top: 0%;
  left: 0%;
  z-index: -1;

  pointer-events: none;
  transition: all 1s ease;
}
.Header-li:hover .Nav-img {
  opacity: 0.9;
  animation: imageAnimation 1s ease-in-out both 1;
}
.Nav-link.notActive:not(:hover) {
  opacity: 0.5;
}
.Hamburger {
  cursor: pointer;
  position: relative;
  z-index: 2;
}
.Circle {
  opacity: 0;
  width: 3rem;
  height: 3rem;

  border: 3px solid white;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  transition: all 0.5s ease;
  pointer-events: none;
  filter: drop-shadow(1px 1px 1px #c59403);
}
.Circle.isActive {
  opacity: 1;
  pointer-events: auto;
}
.Bar {
  display: block;
  width: 1.5625rem;
  height: 0.1875rem;
  margin: 0.3125rem auto;
  background-color: #ffd147;
  transition: all 0.5s ease-in-out;
  filter: drop-shadow(.25px .25px .5px #c59403);
}
.Hamburger.isActive .Bar:nth-child(2) {
  transform: translateY(8px) rotate(45deg);
  background-color: white;
}
.Hamburger.isActive .Bar:nth-child(3) {
  opacity: 0;
  background-color: white;
}
.Hamburger.isActive .Bar:nth-child(4) {
  transform: translateY(-8px) rotate(-45deg);
  background-color: white;
}

/* MAIN common for all the images*/
.Main {
  margin: 0.7rem auto;
  height: 85vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

/* GRID */
.Grid-container {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(8, 1fr);
  gap: 0.5rem;

  position: relative;
}
.Grid-container.isHidden {
  display: none;
}

/* BUTTON */
.Forward {
  position: absolute;
  top: 50%;
  left: 95%;
  transform: translate(-50%, -50%);
}
.Forward-btn {
  padding: 1.5rem;
  border-radius: 50%;
  background-color: #ffd147;
  position: relative;
  transition: all 0.5s ease;
  cursor: pointer;
  box-shadow: 1px 1px 2px #503b02;
}
.Forward-btn:after {
  content: "";
  position: absolute;
  top: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #775906;
  width: 3.5rem;
  height: 3.5rem;
  transition: all 0.5s ease;
  filter: drop-shadow(1px 1px 1px #c59403);
}
.Forward-svg {
  fill: #775906;
  filter: drop-shadow(1px 1px 1px #c59403);
}
.Forward:hover .Forward-btn {
  padding: 1.75rem;
}
.Forward:hover .Forward-btn:after {
  width: 3.75rem;
  height: 3.75rem;
}

/* MAIN CONTENT */
.Main-h1 {
  grid-column: 1/4;
  grid-row: 1/3;

  color: #3a6ed1;
  font-size: 7rem;
  font-weight: 900;
  text-transform: capitalize;
  text-shadow: 0.5px 0.5px 1px #22488f;
}
.Location {
  grid-column: 1/3;
  grid-row: 8/9;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: start;
  text-shadow: 0.5px 0.5px 1px #22488f;
}
.Span-year {
  color: #3a6ed1;
  font-size: 3rem;
  font-weight: 900;
}
.Span-place {
  color: #3a6ed1;
  text-transform: capitalize;
  font-size: 2rem;
  font-weight: 900;
}
.Left-container {
  grid-column: 1/4;
  grid-row: 3/8;

  overflow: hidden;
  position: relative;
  border-radius: 1.5rem;
  box-shadow: 1px 1px 1px #8a8a8a;
}
.Up-container {
  grid-column: 4/8;
  grid-row: 1/5;

  overflow: hidden;
  position: relative;
  border-radius: 1.5rem;
  box-shadow: 1px 1px 1px #8a8a8a;
}
.Down-container {
  grid-column: 4/8;
  grid-row: 5/9;

  overflow: hidden;
  position: relative;
  border-radius: 1.5rem;
  box-shadow: 1px 1px 1px #8a8a8a;
}
.Grid-image {
  width: 100%;
  height: 100%;
  object-fit: cover;

  -webkit-filter: grayscale(60%);
  filter: grayscale(60%);

  transition: all 0.5s ease;
  cursor: pointer;
}
.Grid-image:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}
.Info-title {
  text-transform: capitalize;
  font-style: italic;
  color: white;
  font-size: 1rem;
  text-shadow: 0.5px 0.5px 1px #22488f;
  padding-top: 2rem;
}
.Info-place {
  text-transform: capitalize;
  color: white;
  font-size: 1rem;
}

/* IMAGES DISPLAY */
.Image-container {
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(8, 1fr);
  gap: 1rem;
}
.Image-container.isHidden {
  display: none;
}
.Image-info {
  grid-column: 1/3;
  grid-row: 3/4;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: start;
}
.Image-container .Info-title {
  font-size: 2rem;
  font-weight: 900;
  color: #3a6ed1;
}
.Image-container .Info-place {
  font-size: 1.2rem;
  color: #775906;
}
.Image-container .Paragraph-container {
  background-color: #ffd147;
  border-radius: 1.5rem;
  grid-row: 4/8;
  grid-column: 2/4;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 1px #8a8a8a;
}
.Left-p {
  color: #775906;
  width: 75%;
  font-size: 1.2rem;
  text-align: center;
}
.Right-container {
  grid-row: 1/9;
  grid-column: 4/7;
  border-radius: 1.5rem;
  overflow: hidden;

  position: relative;
  box-shadow: 1px 1px 1px #8a8a8a;
}
.Close-container {
  position: absolute;
  top: 10%;
  left: 90%;
  transform: translate(-50%, -50%);
}
.Right-container .Grid-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}
.Drinkers {
  display: none;
}
.Bridge {
  display: none;
}

/* BUTTONS */
/* Close button */
.Close-container.isHidden {
  display: none;
}
.Close-container:hover .Close-btn {
  padding: 0.8rem;
}
.Close-container:hover .Close-svg {
  width: 2.75rem;
  height: 2.75rem;
}
.Close-btn {
  cursor: pointer;
  background-color: #ffd147;
  padding: 0.5rem;
  border-radius: 50%;

  transition: all 0.5s ease;
  box-shadow: 1px 1px 2px #8a8a8a;
}
.Close-svg {
  fill: white;
  transition: all 0.5s ease;
  filter: drop-shadow(2px 1px 1.5px #c59403);
}

/* ANIMATIONS HEADER */
@keyframes menuSliderOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes menuSliderIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes imageAnimation {
  0% {
    transform: scale(.7);
  }
  100% {
    transform: scale(1);
  }
}

/* MEDIA QUERIES */

/* MEDIA QUERY FOR HEADER SHARED BY ALL PAGES */
/* MENU & HEADER */
@media screen and (max-width: 770px) {
  .Header-signature {
    display: none;
  }
  .Nav-link {
    font-size: 4rem;
  }
}
@media screen and (max-width: 600px) {
  .Nav-link {
    font-size: 4rem;
  }
  .Nav-img {
    display: none;
  }
  .Header-li {
    transition: none;
  }
  .Header-li:hover .Nav-link {
    animation: none;
  }
}
@media screen and (max-width: 525px) {
  .Nav-link {
    font-size: 3rem;
  }
}
@media screen and (max-width: 400px) {
  .Nav-link {
    font-size: 2.5rem;
  }
}

/* MEDIA QUERIES */
@media screen and (max-width: 1450px) {
  .Main-h1 {
    font-size: 5.5rem;
  }
}
@media screen and (max-width: 1350px) {
  .Left-p {
    font-size: 1rem;
  }
}
@media screen and (max-width: 1200px) {
  .Main-h1 {
    font-size: 4.5rem;
  }
  .Image-container .Paragraph-container {
    grid-column: 1/4;
  }
}
@media screen and (max-width: 940px) {
  .Main-h1 {
    font-size: 4rem;
  }
  .Span-year {
    font-size: 2rem;
  }
  .Span-place {
    font-size: 1rem;
  }
  .Image-container .Info-title {
    font-size: 1.5rem;
  }
  .Image-container .Info-place {
    font-size: 1rem;
  }
  .Forward-btn {
    padding: 1rem;
  }
  .Forward-btn:after {
    width: 3rem;
    height: 3rem;
  }
}
@media screen and (max-width: 600px) {
  .Main{
    height: 80vh;
  }
  .Main-h1 {
    font-size: 3rem;
  }
  .Image-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: .5rem;
  }
  .Image-container .Main-h1 {
    grid-row: 1/2;
    grid-column: 1/3;
  }
  .Image-info {
    grid-column: 1/3;
    grid-row: 2/3;
  }
  .Right-container {
    grid-row: 3/5;
    grid-column: 1/3;
  }
  .Image-container .Location {
    grid-row: 1/3;
    grid-column: 2/3;
    align-items: end;
  }
  .Image-container .Paragraph-container {
    grid-column: 1/3;
    grid-row: 5/7;
  }
  .Close-container {
    top: 10%;
    left: 95%;
    transform: translate(-50%);
  }
  .Close-btn {
    padding: 0.3rem;
  }
  .Close-svg {
    width: 1.25rem;
    height: 1.25rem;
  }
  .Up-container .Grid-image, .Down-container .Grid-image, .Left-container .Grid-image{
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
  }
}
@media screen and (max-width: 430px) {
  html{
    overflow: hidden;
  }
  .Grid-container{
    height: 80vh;
  }
  .Main-h1 {
    font-size: 2.5rem;
  }
  .Info-title,
  .Info-place {
    font-size: 0.8rem;
  }
  .Left-p {
    font-size: 1rem;
    width: 100%;
    padding: 1rem;
  }
  .Image-container .Info-title {
    font-size: 1.5rem;
  }
  .Image-container .Info-place {
    font-size: 1rem;
  }
  .Forward-btn,
  .Forward:hover .Forward-btn {
    padding: 0.6rem;
  }
  .Forward-btn:after {
    display: none;
  }
  .Forward-svg {
    width: 1.5rem;
    height: 1.5rem;
  }
  .Close-container {
    top: 10%;
    left: 85%;
    transform: scale(1.2);
  }
  .Forward{
    left: 93%;
  }
}
